<template>
  <div class="iconholder">
    <div class="icon-holder-icon">
      <slot></slot>
    </div>
    <div class="iconholder-name">
      {{name}}
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      name: {
        type: String,
        required: true,
      },
    },
    components: {},
  }
</script>

<style lang="scss">
  @import "../../styles/tokens/colors";
  @import "../../styles/tokens/font-size";

  .iconholder {
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px 10px;

    border: 1px solid $black;
  }

  .iconholder-name {
    font-size: $text-size-regular;
    margin-top: 10px;
  }

  .icon-holder-icon {
    flex-grow: 1;
  }
</style>
