@import 'tokens/font-size';
@import 'tokens/fonts';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

body {
  font-family: $main-font;
  font-size: $text-size-regular;
}
