/** After redesign */
$list-item-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
$subheader-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
$modal-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
$dropdown-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
$pagination-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
$subheader-shadow: 0 2px 4px rgba(0, 0, 0, .25);

$header-shadow: 0 2px 5px rgba(0, 0, 0, 0.21);
$sub-header-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
$image-file-drop-shadow: 0px 0px 15px rgba(73, 100, 255, 0.35);
$card-hover-shadow: -2px 10px 20px rgba(107, 114, 155, .07);
$modal-dialog-shadow: -2px 10px 20px rgba(107, 114, 155, .07);
$rounded-btn-hover-shadow: 0 2px 6px 0 rgba(150, 163, 177, 0.25);
$tab-btn-active-shadow: 0 2px 10px 0 rgba(174, 177, 192, .2);
