$z-index-1: 1;
$z-index-2: 2;
$image-drop-z-index: $z-index-2;

$z-index-10: 10;

$header-z-index: $z-index-10;

$modal-overlay-z-index: 15;
$modal-overlay-dialog-z-index: $modal-overlay-z-index + 1;
