/* After Jungle design */
$blue-light: #bac9fb;
$blue: #4b6af4;
$blue-dark: #2d4bd0;
$blue-darker: #2d3f93;

$purple: #8c68de;
$purple-dark: #6b44c6;
$purple-darker: #533e85;
$purple-light: #dcccfb;

$beige-dark: #dbe6e0;
$beige-light: #fdf4ec;

$gray-dark: #8d8d8d;

$green: #79f494;
$orange: #f4d979;
$red: #ff8181;

$bridesmaid: #fbe6e0;

$black: #111;

/* before Jungle design */
$white: #fff;

$gray-darken-1: #969696;
$gray: #c9c9c9;
$gray-lighter-1: #f5f6fa;

$legacy-blue: #4964ff;
$blue-darken-1: #0022e2;
