$text-size-5: 48px;
$text-size-4: 36px;
$text-size-3: 28px;
$text-size-2: 24px;
$text-size-1: 18px;

$text-size-biggest: 60px;
$text-size-regular: 16px;
$text-size-small: 14px;
$text-size-tiny: 12px;
// Please don't add font lower that 12px
