<template>
  <header class="k-header" :class="classes">
    <slot></slot>
  </header>
</template>

<script>
export default {
  props: {
    fixed: { type: Boolean, default: false },
    blue: { type: Boolean, default: false },
    purple: { type: Boolean, default: false },
  },
  computed: {
    classes() {
      return {
        'k-header--fixed': this.fixed,
        'k-header--blue': this.blue,
        'k-header--purple': this.purple,
      }
    },
  },
}
</script>
<style lang="scss">
@import '../../../styles/mixins/visually-hidden';
@import '../../../styles/tokens/border-radius.scss';
@import '../../../styles/tokens/colors';
@import '../../../styles/tokens/dimensions';
@import '../../../styles/tokens/font-size';
@import '../../../styles/tokens/font-weights';
@import '../../../styles/tokens/box-shadow';
@import '../../../styles/tokens/z-index';

.k-header {
  display: flex;

  position: relative;

  width: 100%;
  min-height: $header-height;

  padding: 2px 15px;

  background-color: $white;
  z-index: $header-z-index;

  &.k-header--blue {
    background-color: $blue;
  }

  &.k-header--purple {
    background-color: $purple;

    .k-header-action--item {
      background-color: $purple;
    }
  }

  &.k-header--fixed {
    position: fixed;

    top: 0;
  }
}

.k-header-row {
  display: flex;
  align-items: center;

  width: 100%;
}

.k-header-section-end,
.k-header-section-start {
  display: flex;
  align-items: center;
  flex: 1;
}

.k-header-section-start {
  justify-content: flex-start;
  order: 0;
}

.k-header-section-end {
  justify-content: flex-end;
  order: 0;
}

.k-header-nav {
  padding: 0 15px;
}

.k-header-nav--name {
  @include visually-hidden;
}

.k-header-nav-list {
  position: relative;

  padding: 0;
  margin: 0;

  list-style: none;
}

.k-header-nav-list--item {
  display: inline-flex;

  + .k-header-nav-list--item {
    margin-left: 5px;
  }
}

.k-header-nav--link,
.k-header-action__link {
  padding: 5px 10px;

  margin: 0 5px;

  font-size: $text-size-small;
  text-decoration: none;
  white-space: nowrap;

  transition: all 0.2s ease-in-out;
}

.k-header-nav--link {
  position: relative;

  padding: 5px 10px;

  color: $gray-darken-1;
  text-transform: uppercase;

  transition: all .2s;

  &:focus {
    outline: none;

    &:after {
      content: '';

      position: absolute;

      bottom: 0;
      left: 5%;

      width: 90%;
      height: 2px;

      border-radius: 1px;

      background-color: $gray;
    }
  }

  &.router-link-exact-active,
  &.k-header-nav-link--active {
    font-weight: $font-weight-bold;

    &:after {
      content: '';

      position: absolute;

      bottom: 0;
      left: 5%;

      width: 90%;
      height: 2px;

      border-radius: 1px;

      background-color: $gray;
    }
  }

  &:hover {
    text-shadow: 0 0 .01px currentColor, 0 0 .01px currentColor, 0 0 .01px currentColor;
  }
}

.k-header-action__link {
  color: $blue;

  padding: 8px 20px;
  margin: 0 5px;

  font-weight: $font-weight-bold;
  text-transform: uppercase;
  border-radius: $border-radius-large;
  border: 1px solid transparent;

  transition: all .2s;

  &.router-link-exact-active {
    color: $black;
  }

  &:hover {
    background-color: $gray;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
    border-color: $beige-dark;
  }
}

.k-header--blue {
  .k-header-action__link {
    color: $beige-dark;

    &.k-header-action__link--active,
    &.router-link-exact-active {
      color: $blue;
      background-color: $beige-light;
    }

    &:hover {
      color: $beige-dark;
      background-color: $blue-dark;
      text-decoration: none;
    }
  }


}

.k-header--purple {
  .k-header-action__link {
    color: $beige-dark;

    &.k-header-action__link--active,
    &.router-link-exact-active {
      color: $purple;
      background-color: $beige-light;
    }

    &:hover {
      color: $beige-dark;
      background-color: $purple-dark;
      text-decoration: none;
    }
  }

  .k-header-action--item {
    &:hover {
      background-color: $purple-dark;
    }
  }
}

.k-header--blue,
.k-header--purple {
  .k-header-nav--link {
    color: $beige-dark;

    &.router-link-exact-active,
    &.k-header-nav-link--active {
      &:after {
        background-color: $beige-dark;
      }
    }
  }
}

.k-header-action--item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3px 8px;
  border: 1px solid transparent;
  border-radius: $border-radius-large;

  transition: all .2s;
  cursor: pointer;

  background: $blue;

  &:hover {
    background-color: $blue-dark;
  }

  &:focus {
    outline: none;
    border-color: $beige-light;
  }
}

.k-header-action-item-title {
  padding: 0 9px;
  color: $beige-light;
}

.k-header-action-item--down {
  margin: 0 2px 0 5px;
  width: 12px;
  height: 12px;
  color: $beige-dark;
}
</style>
