<template>
  <div class="k-subheader" :class="classes">
    <slot/>
    <div class="k-subheader-body" v-if="$slots.body">
      <slot name="body"/>
    </div>
    <div class="k-subheader-footer" v-if="this.$slots.footer">
      <slot name="footer"/>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    gradient: {
      type: String,
      required: false,
      validator(value) {
        return ['light-blue', 'light-purple', 'blue', 'purple'].includes(value)
      },
    },
  },
  computed: {
    classes() {
      return {
        'k-subheader--light-blue': this.gradient === 'light-blue',
        'k-subheader--light-purple': this.gradient === 'light-purple',
        'k-subheader--blue': this.gradient === 'blue',
        'k-subheader--purple': this.gradient === 'purple',
      }
    },
  },
}
</script>

<style lang="scss">
@import '../../../styles/tokens/colors';
@import '../../../styles/tokens/box-shadow';
@import '../../../styles/tokens/dimensions';

.k-subheader {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  background-color: $white;

  margin-top: 0;

  box-shadow: $subheader-shadow;

  &.k-subheader--light-blue {
    background: linear-gradient(148.65deg, $blue-light 0%, $white 100%);
  }

  &.k-subheader--light-purple {
    background: linear-gradient(148.65deg, $purple-light 0%, $white 100%);
  }

  &.k-subheader--blue {
    background: linear-gradient(142.77deg, $blue 0%, $blue-light 100%);
  }

  &.k-subheader--purple {
    background: linear-gradient(142.77deg, $purple 0%, $purple-light 100%);
  }
}

.k-subheader-body {
  width: 100%;
  padding: 15px;
}

.k-subheader-footer {
  width: 100%;
}

.k-header.k-header--fixed + .k-subheader::before {
  content: '';

  width: 100%;
  padding-top: $header-height;
}
</style>
