<template>
  <div class="k-avatar" :class="classes">
    <div v-if="image" class="k-avatar-image-holder" :style="imageHolderStyle">
      <img
        v-if="image && !cover"
        :src="src"
        :alt="name"
        @error="imageLoadError"
        class="k-avatar-image"
      >
    </div>
    <div v-else class="k-avatar-initials" v-text="initials"/>
  </div>
</template>
<script>
export default {
  props: {
    small: { type: Boolean, default: false },
    medium: { type: Boolean, default: false },
    big: { type: Boolean, default: false },
    name: { type: String, required: true },
    src: String,
    cover: { type: Boolean, default: false },
    rounded: { type: Boolean, default: false },
    blue: { type: Boolean, default: false },
    purple: { type: Boolean, default: false },
    semiRounded: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    classes() {
      return {
        'k-avatar--semi-rounded': this.semiRounded,
        'k-avatar--rounded': this.rounded,
        'k-avatar--blue': this.blue,
        'k-avatar--purple': this.purple,
        'k-avatar--small': this.small,
        'k-avatar--medium': this.medium,
        'k-avatar--big': this.big,
      }
    },
    initials() {
      return this.name.split(/\s/).filter(Boolean).map(s => s[0]).splice(0, 2).join('').toUpperCase()
    },
    imageHolderStyle() {
      if (!this.cover) {
        return null
      }
      return { backgroundImage: `url(${this.src})` }
    },
  },
  methods: {
    imageLoadError() {
      this.image = false
    },
  },
  data() {
    return {
      image: this.src,
    }
  },
}
</script>


<style lang="scss">
@import '../styles/tokens/colors';
@import '../styles/tokens/border-radius';

.k-avatar {
  display: inline-block;

  overflow: hidden;

  width: 40px;
  height: 40px;

  line-height: 40px;
  text-align: center;

  font-weight: 700;

  background-color: $gray-darken-1;
  color: $white;

  border-radius: $border-radius-round;

  &.k-avatar--rounded {
    border-radius: $border-radius-tiny;
  }

  &.k-avatar--semi-rounded {
    border-radius: $border-radius-small 0 $border-radius-small 0;
  }

  &.k-avatar--medium {
    width: 48px;
    height: 48px;
    line-height: 48px;

    .k-avatar-image {
      width: 48px;
      height: 48px;
      max-width: 48px;
      max-height: 48px;
    }

    &.k-avatar--semi-rounded {
      height: 41px;
      line-height: 41px;
      border-radius: $border-radius-card 0 $border-radius-card 0;
    }
  }

  &.k-avatar--big {
    width: 81px;
    height: 81px;
    line-height: 81px;

    .k-avatar-image {
      width: 81px;
      height: 81px;
      max-width: 81px;
      max-height: 81px;
    }

    &.k-avatar--semi-rounded {
      height: 69px;
      line-height: 69px;
      border-radius: $border-radius-card 0 $border-radius-card 0;
    }
  }

  &.k-avatar--blue {
    background-color: $blue;
  }

  &.k-avatar--purple {
    background-color: $purple;
  }

  &.k-avatar--small {
    width: 25px;
    height: 25px;

    line-height: 25px;
  }
}

.k-avatar-image-holder {
  width: 100%;
  height: 100%;

  background-size: cover;
}

.k-avatar-image {
  max-width: 40px;
  max-height: 40px;

  width: 100%;
  height: auto;
}

.k-avatar-initials {
  text-decoration: none;
}
</style>
