<template>
  <div v-if="!!this.$slots.default" class="k-badge-holder">
    <slot/>
    <k-badge-simple :class="badgeClasses" :type="type" v-if="showBadge">
      {{content}}
    </k-badge-simple>
  </div>
  <k-badge-simple v-else-if="showBadge" :class="badgeClasses" :type="type">
    {{content}}
  </k-badge-simple>
</template>

<script>
import KBadgeSimple from './KBadgeSimple'

export default {
  components: { KBadgeSimple },
  props: {
    content: [String, Number],
    hideOnEmpty: { type: Boolean, default: false },
    type: {
      type: String,
      validator: function (type) {
        return ['danger', 'warning', 'success'].indexOf(type) !== -1
      },
    },
    position: {
      type: String,
      default: 'top left',
      validator: function (position) {
        let searchElement = position.toLowerCase().replace(/[^a-z]/g, '')
        return ['topleft', 'topright', 'bottomleft', 'bottomright', 'lefttop', 'righttop', 'leftbottom', 'rightbottom']
          .indexOf(searchElement) !== -1
      },
    },
  },
  computed: {
    showBadge() {
      return this.content || !this.hideOnEmpty
    },
    normalizePosition() {
      return this.position.toLowerCase().replace(/\s/g, '')
    },
    badgeClasses() {
      return {
        'k-badge--hanged': this.position,
        'k-badge--top': this.normalizePosition.indexOf('top') !== -1,
        'k-badge--bottom': this.normalizePosition.indexOf('bottom') !== -1,
        'k-badge--left': this.normalizePosition.indexOf('left') !== -1,
        'k-badge--right': this.normalizePosition.indexOf('right') !== -1,
      }
    },
  },
}
</script>

<style lang="scss">
  @import '../styles/tokens/colors';

  .k-badge-holder {
    position: relative;
    display: inline-block;

    .k-badge-simple {
      &.k-badge--hanged {
        position: absolute;
      }

      &.k-badge--top {
        top: -8px;
      }

      &.k-badge--bottom {
        bottom: -8px;
      }

      &.k-badge--left {
        left: -8px;
      }

      &.k-badge--right {
        right: -8px;

      }
    }
  }

</style>
