<template>
  <div class="k-badge-simple" :class="classes">
    <slot/>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      validator: function (type) {
        return ['danger', 'warning', 'success'].indexOf(type) !== -1
      },
    },
  },
  computed: {
    classes() {
      return {
        [`k-badge-simple--${this.type}`]: this.type,
      }
    },
  },
}
</script>

<style lang="scss">
  @import '../styles/tokens/font-size';
  @import '../styles/tokens/border-radius';
  @import '../styles/tokens/colors';

  .k-badge-simple {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    height: 22px;
    min-width: 22px;
    line-height: 22px;

    padding: 0 4px;

    font-size: $text-size-small;

    color: $white;
    background-color: $blue;

    border-radius: $border-radius-medium;

    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

    &.k-badge-simple--danger {
      background-color: $red;
    }

    &.k-badge-simple--warning {
      background-color: $orange;
    }

    &.k-badge-simple--success {
      background-color: $green;
    }
  }
</style>
