<template>
  <button
    class="k-button"
    :class="classes"
    @click="onClick"
    :type="type"
    v-bind="{...$attrs, disabled}"
  >
    <div class="k-button-content">
      <slot>{{label}}</slot>
    </div>
  </button>
</template>

<script>
export default {
  props: {
    label: String,
    primary: { type: Boolean, default: false },
    danger: { type: Boolean, default: false },
    disabled: { type: Boolean, default: false },
    loading: { type: Boolean, default: false },
    type: {
      type: String,
      default: 'button',
      validator: function (val) {
        return ['button', 'submit', 'reset'].indexOf(val) !== -1
      },
    },
  },
  methods: {
    onClick($event) {
      if (!this.disabled && !this.loading) {
        this.$emit('click', $event)
      }
    },
  },
  computed: {
    classes() {
      return {
        'k-button--disabled': this.disabled,
        'k-button--primary': this.primary,
        'k-button--danger': this.danger,
      }
    },
  },
}
</script>


<style lang="scss">
@import '../styles/tokens/colors';
@import '../styles/tokens/font-size';
@import '../styles/tokens/border-radius';
@import '../styles/tokens/box-shadow';


.k-button {
  position: relative;

  display: inline-block;
  align-items: center;

  height: 38px;

  padding: 0 17px;

  color: $gray;

  border: 1px solid $gray;
  border-radius: $border-radius-tiny;

  font-size: $text-size-regular;
  outline: none;
  background-color: $white;

  overflow: hidden;

  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;

  transition: all .2s ease-in-out;

  &.k-button--primary {
    color: $blue;
    border-color: $blue;
  }

  &.k-button--danger {
    color: $red;
    border-color: $red;
  }

  &:not([disabled]),
  &:not(.k-button--disabled) {

    &:hover {
      box-shadow: $rounded-btn-hover-shadow;
    }

    cursor: pointer;
  }

  &.k-button--disabled {
    border-color: $gray-lighter-1;
    color: $gray-lighter-1;

    cursor: default;
  }
}

.k-button-content {
  display: flex;
  align-items: center;
  justify-content: center;

  .k-icon {
    margin-left: -5px;
    margin-right: 10px;
  }
}
</style>
