<template>
  <div class="k-card" :class="classes">
    <div class="k-card-top-wrapper" v-if="$slots.top">
      <div class="k-card-top">
        <slot name="top"/>
      </div>
    </div>
    <div class="k-card-header" v-if="$slots.header">
      <slot name="header"/>
    </div>
    <div class="k-card-body" v-if="$slots.default">
      <slot/>
    </div>
    <div class="k-card-footer" v-if="$slots.footer">
      <slot name="footer"/>
    </div>
    <div class="k-card-bottom-wrapper" v-if="$slots.bottom">
      <div class="k-card-bottom">
        <slot name="bottom"/>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    kWithHover: { type: Boolean, default: false },
    outlined: { type: Boolean, default: false },
    bridesmaid: { type: Boolean, default: false },
  },
  computed: {
    classes() {
      return {
        'k-card--hoverable': this.kWithHover,
        'k-card--outlined': this.outlined,
        'k-card--bridesmaid': this.bridesmaid,
      }
    },
  },
}
</script>
<style lang="scss">
@import '../styles/tokens/border-radius';
@import '../styles/tokens/box-shadow';
@import '../styles/tokens/colors';
@import '../styles/tokens/font-size';

.k-card {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: $white;
  /*border: 1px solid transparent;*/
  border-radius: $border-radius-card;

  &.k-card--hoverable {
    &:hover {
      box-shadow: $card-hover-shadow;
    }
  }

  &.k-card--outlined {
    border: 1px solid $gray-darken-1;
  }

  &.k-card--bridesmaid {
    background-color: $bridesmaid;
  }
}

.k-card-body {
  flex-grow: 1;

  padding: 16px;
}

.k-card-header {
  font-size: $text-size-3;
  padding: 15px;

  + .k-card-body {
    padding-top: 0;
  }
}

.k-card-footer {
  padding: 8px;
}

.k-card-bottom-wrapper,
.k-card-top-wrapper {
  display: flex;
  width: 100%;
}

.k-card-top {
  display: flex;

  overflow: hidden;

  width: 100%;

  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;

  .k-tab-menu-item {
    margin: 0;
  }
}

.k-card-bottom {
  display: flex;

  overflow: hidden;

  width: 100%;

  border-bottom-left-radius: $border-radius-small;
  border-bottom-right-radius: $border-radius-small;
}
</style>
