<template>
  <div class="k-checkbox" :class="classes">
    <div class="k-checkbox-wrapper">
      <div class="k-checkbox-box-presentation" :class="wrapperClasses" @click.stop="toggleCheck">
        <input
          v-bind="attrs"
          :id="id"
          type="checkbox"
          class="k-checkbox-input"
        >
      </div>
      <label
        v-if="label || $slots.default"
        :for="id"
        :class="labelClasses"
        @click.prevent="toggleCheck"
        class="k-checkbox-label"
      >
        <slot>{{ label }}</slot>
      </label>
    </div>
    <slot name="bottom"/>
  </div>
</template>
<script>
import KCheckboxMixin from '../core/mixins/KCheckboxMixin'
import generateId from '../core/utils/generateId'

export default {
  mixins: [KCheckboxMixin],
  props: {
    id: { type: String, default: () => generateId() },
    noMargin: { type: Boolean, default: false },
    purple: { type: Boolean, default: false },
  },
  computed: {
    classes() {
      return {
        'k-checkbox--no-margin': this.noMargin,
      }
    },
    wrapperClasses() {
      return {
        'k-checkbox-box-presentation--disabled': this.disabled,
        'k-checkbox-box-presentation--checked': this.isSelected,
        'k-checkbox-box-presentation--purple': this.purple,
      }
    },
    labelClasses() {
      return {
        'k-checkbox-label--disabled': this.disabled,
        'k-checkbox-label--required': this.required,
      }
    },
  },
}
</script>
<style lang="scss">
@import '../styles/mixins/visually-hidden';
@import '../styles/tokens/colors';

.k-checkbox {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px 16px 16px 0;

  &.k-checkbox--no-margin {
    margin: 0;
  }
}

.k-checkbox-box-presentation {
  position: relative;

  flex-basis: 20px;

  width: 20px;
  height: 20px;
  min-width: 20px;

  border-width: 2px;
  border-style: solid;
  border-color: $blue;

  background-color: transparent;
  transition: all 0.2s ease-in-out;

  &.k-checkbox-box-presentation--purple {
    border-color: $purple;

    &.k-checkbox-box-presentation--checked {
      background-color: $purple;
    }
  }

  &.k-checkbox-box-presentation--disabled {
    color: $gray;
    border-color: $gray;
  }

  &::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 13px;
    top: 0;
    left: 5px;

    border: 2px solid $white;
    border-top: 0;
    border-left: 0;

    opacity: 0;
    transform: rotate(15deg) scale3d(0.15, 0.15, 1);
    transition: all 0.2s ease-in-out;
  }

  &.k-checkbox-box-presentation--checked {
    background-color: $blue;

    &.k-checkbox-box-presentation--disabled {
      background-color: $gray;
    }

    &::after {
      opacity: 1;
      transform: rotate(45deg) scale3d(1, 1, 1);
    }
  }

  &:not(.k-checkbox-box-presentation--disabled) {
    cursor: pointer;
  }
}

.k-checkbox-label {
  padding-left: 10px;
  margin-bottom: 0;

  color: $black;

  &.k-checkbox-label--disabled {
    color: $gray;

    a {
      color: $gray-darken-1;
    }

    &.k-checkbox-label--required::after {
      color: $gray;
    }
  }

  &:not(.k-checkbox-label--disabled) {
    cursor: pointer;
  }

  &.k-checkbox-label--required {
    position: relative;

    &::after {
      content: '*';
      position: absolute;
      color: $red;
      top: -2px;
      right: -8px;
    }
  }
}

.k-checkbox-wrapper {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
}

.k-checkbox-input {
  @include visually-hidden;
}
</style>
