<template>
  <div class="k-datepicker" :class="classes">
    <div
      v-if="label || $slots.label"
      @click="openCalendar"
      :class="labelClasses"
      class="k-label"
    >
      <slot name="label">{{ label }}</slot>
    </div>
    <div class="k-datepicker-input-holder">
      <datepicker
        v-bind="{...$attrs, ...properties}"
        :monday-first="mondayFirst"
        :language="language"
        @opened="onOpened"
        @closed="onClosed"
        @input="onInput"
        ref="datepicker"
      >
        <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
          <slot :name="slot" v-bind="scope"/>
        </template>
      </datepicker>
      <button
        v-if="!inline && !withoutButton"
        @click="openCalendar"
        :class="{'k-datepicker__button--disabled' : disabled, 'k-datepicker__button--color': opened}"
        class="k-datepicker__button"
        aria-label="Open calendar"
        type="button"
      >
        <k-icon name="calendar" class="k-datepicker-button__icon"/>
      </button>
    </div>
    <slot name="helper"/>
    <slot/>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import { en, sv } from 'vuejs-datepicker/dist/locale'
import KIcon from './KIcon'

export default {
  components: { KIcon, Datepicker },
  props: {
    value: [Date, String, Number],
    label: String,
    name: String,
    placeholder: String,
    inline: Boolean,
    purple: { type: Boolean, default: false },
    invalid: { type: Boolean, default: false },
    required: { type: Boolean, default: false },
    disabled: { type: Boolean, default: false },
    mondayFirst: { type: Boolean, default: true },
    swedish: { type: Boolean, default: false },
    withoutButton: { type: Boolean, default: false },
    noMargin: { type: Boolean, default: false },
    highlightToday: { type: Boolean, default: false },
    disabledDates: Object,
    highlighted: Object,
    format: {
      type: [String, Function],
      default: 'dd MMM yyyy',
    },
  },
  data() {
    return {
      opened: false,
    }
  },
  methods: {
    openCalendar() {
      this.$refs.datepicker.showCalendar()
    },
    update(val) {
      this.$emit('input', val)
    },
    onOpened() {
      this.$emit('opened', null)
      this.opened = true
    },
    onClosed() {
      this.$emit('closed', null)
      this.opened = false
    },
    onInput(val) {
      this.$emit('input', val)
    },
  },
  computed: {
    properties() {
      const properties = { ...this.$props }
      delete properties.label
      return properties
    },
    classes() {
      return {
        'k-datepicker--invalid': this.invalid,
        'k-datepicker--highlight-today': this.highlightToday,
        'k-datepicker--disabled': this.disabled,
        'k-datepicker--purple': this.purple,
        'k-datepicker--opened': this.opened,
        'k-datepicker--no-margin': this.noMargin,
      }
    },
    language() {
      return this.swedish ? sv : en
    },
    labelClasses() {
      return {
        'k-datepicker-label--invalid': this.invalid,
        'k-label--required': this.required,
      }
    },
    listeners() {
      return this.$listeners
    },
  },
  mounted() {
    this.$watch(
      () => this.$refs.datepicker.isOpen,
      (opened) => this.opened = opened,
    )
  },
}
</script>


<style lang="scss">
@import '../styles/tokens/colors';
@import '../styles/tokens/font-size';
@import '../styles/tokens/box-shadow';

.k-datepicker {
  position: relative;
  margin: 4px 0 24px;
  font-size: $text-size-regular;

  .k-label {
    font-size: $text-size-regular;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &.k-datepicker-label--invalid {
      color: $red;
    }
  }

  &.k-datepicker--no-margin {
    margin: 0;
  }

  &.k-datepicker--opened {
    .vdp-datepicker {
      input {
        border-color: $blue;
      }
    }

    .k-datepicker__button {
      color: $blue;
      border-color: $blue;
    }

    &.k-datepicker--purple {
      .k-datepicker__button {
        color: $purple;
        border-color: $purple;
      }

      .vdp-datepicker {
        input {
          border-color: $purple;
        }
      }
    }
  }

  &.k-datepicker--disabled {
    color: $gray;

    .k-label {
      color: $gray;
      cursor: default;
    }
  }

  .vdp-datepicker {
    width: 100%;
    color: $black;

    input {
      width: 100%;
      color: $gray;
      font-size: 16px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0.35rem;
      padding-top: 0.35rem;

      border-width: 1px;
      border-radius: 0;
      border-color: $gray;
      border-top: 0;
      border-left: 0;
      border-right: 0;

      background-color: transparent;
      transition: all 0.2s ease-in-out;

      &:focus {
        outline: 0;
      }
    }
  }

  &.k-datepicker--invalid {
    .k-datepicker-error {
      display: block;
    }

    .vdp-datepicker input {
      border-color: $red;
    }

    .k-datepicker__button {
      color: $red;
      border-color: $red;

      &:hover {
        border-color: $red;
      }
    }
  }

  .vdp-datepicker__calendar {
    border: 1px solid $gray;
    box-shadow: $header-shadow;

    .cell {
      &.highlighted {
        background-color: $bridesmaid;
      }

      &.day-header {
        font-size: $text-size-small;
      }

      &:not(.blank):not(.disabled) {
        &.year:hover,
        &.month:hover,
        &.day:hover {
          border-color: $blue;
        }
      }
    }

    .cell.selected {
      background-color: $blue-light;
    }

    header {
      padding: 0;

      .prev:not(.disabled):hover,
      .next:not(.disabled):hover,
      .up:not(.disabled):hover {
        background-color: $gray-lighter-1;
      }

      .prev {
        &::after {
          left: 50%;
          transform: rotate(135deg);
        }

        &.disabled::after {
          border-right-width: 5px;
        }
      }

      .prev.disabled,
      .next.disabled {
        &::after {
          border-color: $gray;
          border-left-width: 0;
        }
      }

      .next::after,
      .prev::after {
        top: 30%;
        width: 14px;
        height: 14px;
        border: 4px solid $gray-darken-1;
        border-left: 0;
        border-top: 0;
      }

      .next::after {
        left: 20%;
        transform: rotate(-45deg);
      }
    }
  }

  &.k-datepicker--purple {
    .k-datepicker__button {
      color: $purple-light;

      &:not(.k-datepicker__button--disabled) {
        &:hover {
          color: $purple;
        }
      }
    }

    .vdp-datepicker__calendar {
      .cell:not(.blank):not(.disabled) {
        &.year:hover,
        &.month:hover,
        &.day:hover {
          border-color: $purple;
        }
      }

      .cell.selected {
        background-color: $purple-light;
      }
    }

    &.k-datepicker--highlight-today .cell.day.today:after {
      border-left-color: $purple;
    }
  }

  &.k-datepicker--highlight-today {
    .cell.day.today {
      position: relative;

      &:after {
        content: '';

        position: absolute;

        bottom: 0;
        right: 0;

        width: 0;
        height: 0;
        border-bottom: 10px solid $blue;
        border-left: 10px solid transparent;
      }
    }
  }
}

.k-datepicker-error {
  display: none;
  font-size: $text-size-small;
  color: $red;
}

.k-datepicker-input-holder {
  width: 100%;
  display: flex;
}

.k-datepicker__button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 5px;
  border: 0;
  background: transparent;
  color: $blue-light;
  border-bottom: 1px solid $gray;

  transition: all .2s ease-in-out;

  &:not(.k-datepicker__button--disabled) {
    &:hover {
      color: $blue;
      cursor: pointer;
    }

    &:focus {
      outline: none;
      color: $black;
    }
  }

  &.k-datepicker__button--disabled {
    color: $gray;

    &:focus {
      outline: none;
      color: $gray-dark;
    }
  }
}

.k-datepicker-button__icon {
  width: 15px;
  height: 15px;
  fill: currentColor;
}
</style>
