<script>
import RouterLink from '@/core/mixins/RouterLink'

export default {
  mixins: [RouterLink],
  props: {
    type: { type: String, required: false, validator: type => ['button', 'submit', 'reset'].includes(type) },
    href: String,
    active: { type: Boolean, default: false },
    contentClass: { type: String, default: '' },
  },
  computed: {
    isRouterLink() {
      return this.$router && this.to
    },
  },
  render(createElement) {
    const attributes = {
      staticClass: 'k-drop-menu-item',
      role: 'presentation',
      class: this.classes,
    }
    const childAttributes = {
      staticClass: 'k-drop-menu-item-content',
      attrs: {
        ...this.$attrs,
        href: this.href,
      },
      on: { ...this.$listeners },
      class: [this.contentClass, this.active ? 'k-drop-menu-item-content--active' : null],
    }

    let tag = 'span'
    if (this.href) {
      tag = 'a'
      childAttributes.staticClass += ' k-drop-menu-item-content--clickable'
    } else if (this.isRouterLink) {
      tag = 'router-link'
      const RouterLink = this.$options.components['RouterLink'] || this.$options.components['router-link']
      childAttributes.staticClass += ' k-drop-menu-item-content--clickable'

      this.$options.props = {
        ...this.$options.props,
        ...RouterLink.options.props,
      }
      childAttributes.props = {
        ...this.$props,
        exactActiveClass: this.$props.exactActiveClass,
        activeClass: `${this.$props.activeClass || ''} k-active`,
      }

      delete childAttributes.attrs.type
      delete childAttributes.props.type
      delete childAttributes.attrs.href
      delete childAttributes.props.href
    } else if (this.type) {
      tag = 'button'
      childAttributes.type = this.type
      childAttributes.staticClass += ' k-drop-menu-item-content--clickable'
    }

    const children = [
      createElement(tag, childAttributes, this.$slots.default),
    ]
    return createElement('li', attributes, children)
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/tokens/font-size';
@import '../styles/tokens/colors';
@import '../styles/tokens/border-radius';
@import '../styles/tokens/font-weights';

.k-drop-menu-item {
  margin: 1px 0;

  white-space: nowrap;

  border-radius: $border-radius-tiny;

  transition: background .2s ease-in-out;
}

.k-drop-menu-item-content {
  display: block;

  width: 100%;

  font-size: $text-size-regular;
  padding: 4px 8px;
  background: transparent;
  border: 0;
  text-align: left;

  transition: all .2s;

  &.k-drop-menu-item-content--clickable {
    color: $black;
    text-decoration: none;

    &:hover {
      background: $beige-light;
      cursor: pointer;
    }
  }

  &.router-link-exact-active,
  &.k-drop-menu-item-content--active {
    background-color: $blue-light;
  }
}
</style>
