<template>
  <div class="k-drop-menu" v-on="$listeners">
    <slot/>
  </div>
</template>

<script>
export default {
  props: {
    active: { type: Boolean, default: false },
    offset: { type: Array, default: () => [0, 0] },
    closeOnSelect: { type: Boolean, default: true },
    closeOnClickOutside: { type: Boolean, default: true },
    placement: { type: String, default: 'bottom' },
  },
  data() {
    return {
      KDropMenu: {
        instance: this,
        active: this.active,
        offset: this.offset,
        placement: this.placement,
        closeOnSelect: this.closeOnSelect,
        closeOnClickOutside: this.closeOnClickOutside,
        $el: this.$el,
      },
    }
  },
  methods: {
    toggleContent() {
      this.KDropMenu.active = !this.KDropMenu.active
    },
  },
  watch: {
    active: {
      immediate: true,
      handler(val) {
        this.KDropMenu.active = val
      },
    },
    closeOnSelect() {
      this.KDropMenu.closeOnSelect = this.closeOnSelect
    },
  },
  provide() {
    return {
      KDropMenu: this.KDropMenu,
    }
  },
  mounted() {
    this.KDropMenu.$el = this.$el
    this.$nextTick().then(() => {
      this.triggerEl = this.$el.querySelector('[data-menu-trigger]') || this.$el.querySelector('[menu-trigger]')
      if (this.triggerEl) {
        this.triggerEl.addEventListener('click', this.toggleContent)
      }
    })
  },
  beforeDestroy() {
    if (this.triggerEl) {
      this.triggerEl.removeEventListener('click', this.toggleContent)
    }
  },
}
</script>

<style lang="scss" scoped>
.k-drop-menu {
  position: relative;
  display: inline-block;
}
</style>
