<template>
  <div class="k-drop-menu-content--holder">
    <transition name="slide-down" v-if="show">
      <ul class="k-drop-menu-content" ref="menu">
        <button
          class="k-drop-menu-content-close__button"
          aria-label="Close menu"
          type="button"
          @click="KDropMenu.active = false"
        >
          <k-icon-close class="k-drop-menu-content-close__icon"/>
        </button>
        <k-drop-menu-item v-if="title" v-text="title" class="k-drop-menu-content-title"/>
        <slot/>
      </ul>
    </transition>
  </div>
</template>

<script>
import KIconClose from './icons/KIconClose'
import KDropMenuItem from './KDropMenuItem'
import { createPopper } from '@popperjs/core'

export default {
  components: { KIconClose, KDropMenuItem },
  inject: ['KDropMenu'],
  props: {
    title: String,
  },
  data() {
    return {
      popperInstance: null,
      clickListener: false,
      isOutsideListenerActive: false,
    }
  },
  computed: {
    show() {
      return this.KDropMenu.active
    },
  },
  watch: {
    ['KDropMenu.$el']($el) {
      this.killPopper()
      this.popperInstance = $el ? createPopper($el, this.$el, {
        placement: this.KDropMenu.placement, modifiers: [{
          name: 'offset',
          options: {
            offset: this.KDropMenu.offset || [0, 0],
          },
        }],
      }) : null
    },
    show(show) {
      if (show) {
        this.popperInstance = this.KDropMenu.$el ? createPopper(this.KDropMenu.$el, this.$el, {
          placement: this.KDropMenu.placement, modifiers: [{
            name: 'offset',
            options: {
              offset: this.KDropMenu.offset || [0, 0],
            },
          }],
        }) : null

        this.$nextTick().then(() => {
          this.createClickEventObserver()
          this.createClickOutsideEventObserver()
        })
      } else {
        if (this.clickListener) {
          document.body.removeEventListener('click', this.selectListener)
          this.clickListener = false
        }
        if (this.isOutsideListenerActive) {
          document.body.removeEventListener('click', this.onClickOutside)
          this.isOutsideListenerActive = false
        }
      }
    },
  },
  methods: {
    selectListener(event) {
      event.stopPropagation()
      const selectedAndNeedsClose = this.KDropMenu.closeOnSelect && this.isMenuContentEl(event) && event.target.classList.contains('k-drop-menu-item-content--clickable')
      if (selectedAndNeedsClose) {
        this.KDropMenu.active = false
        document.body.removeEventListener('click', this.selectListener)
      }
    },
    onClickOutside(event) {
      if (this.$refs.menu && !this.$refs.menu.contains(event.target) && this.$refs.menu !== event.target) {
        this.isOutsideListenerActive = false
        this.KDropMenu.active = false
        document.body.removeEventListener('click', this.onClickOutside)
      }
    },
    createClickOutsideEventObserver() {
      if (this.isOutsideListenerActive || !this.KDropMenu.closeOnClickOutside || !document) {
        return
      }

      // zero timeout to prevent close on open
      setTimeout(() => {
        this.isOutsideListenerActive = true
        document.body.addEventListener('click', this.onClickOutside)
      }, 0)
    },
    isMenuContentEl({ target }) {
      return this.$refs.menu ? this.$refs.menu.contains(target) : false
    },
    createClickEventObserver() {
      if (this.KDropMenu.closeOnSelect && document) {
        document.body.addEventListener('click', this.selectListener)
        this.clickListener = true
      }
    },
    killPopper() {
      if (this.popperInstance) {
        this.popperInstance.destroy()
        this.popperInstance = null
      }
    },
  },
  destroy() {
    this.killPopper()
    document.body.removeEventListener('click', this.onClickOutside)
    document.body.removeEventListener('click', this.selectListener)
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/tokens/border-radius';
@import '../styles/tokens/box-shadow';
@import '../styles/tokens/colors';
@import '../styles/tokens/font-size';
@import '../styles/tokens/z-index';

.k-drop-menu-content {
  position: relative;

  margin: 0;
  padding: 12px 10px 7px 8px;

  background: $white;

  border-radius: $border-radius-tiny;

  box-shadow: $dropdown-shadow;
  list-style-type: none;

  z-index: $z-index-1;
}

.k-drop-menu-content--holder {
  position: absolute;
  width: auto;
  z-index: $z-index-1;
}

.k-drop-menu-content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 0;
  padding-right: 40px; // prevent close button overflow
  padding-left: 9px;
  padding-bottom: 5px;

  margin-top: 0;

  font-size: $text-size-tiny;
  line-height: 14px;

  color: $blue;

  &:hover {
    background: 0;
  }
}

.k-drop-menu-content-close__button {
  position: absolute;

  top: 13px;
  right: 13px;

  width: 12px;
  height: 12px;

  padding: 0;
  margin: 0;

  border: 0;
  background: 0;

  cursor: pointer;
  transition: all .2s;

  &:hover .k-drop-menu-content-close__icon {
    transform: rotate(90deg);
  }
}

.k-drop-menu-content-close__icon {
  width: 12px;
  height: 12px;
  color: $blue;
  transition: all .2s;
}

.slide-down-enter-active {
  transition: all .2s ease;
}

.slide-down-leave-active {
  transition: all .2s cubic-bezier(1, .5, .8, 1.0);
}

.slide-down-enter, .slide-down-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}
</style>
