<template>
  <div class="k-field" :class="classes" @blur="onBlur">
    <div class="k-field-input-holder">
      <span class="k-field-counter" v-if="hasCounter">{{valueLength}}/{{KField.maxlength || KField.counter}}</span>
      <slot/>
    </div>
    <slot name="helper"/>
  </div>
</template>
<script>
export default {
  provide() {
    return {
      KField: this.KField,
    }
  },
  data: () => ({
    KField: {
      value: null,
      focused: false,
      highlighted: false,
      disabled: false,
      required: false,
      placeholder: false,
      textarea: false,
      autogrow: false,
      maxlength: null,
      counter: null,
      password: null,
      togglePassword: false,
      clear: false,
      file: false,
      image: false,
    },
  }),
  props: {
    invalid: { type: Boolean, default: false },
    purple: { type: Boolean, default: false },
    noPadding: { type: Boolean, default: false },
    kCounter: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    onBlur() {
      this.KField.highlighted = false
    },
  },
  computed: {
    classes() {
      return {
        'k-field--purple': this.purple,
        'k-field--invalid': this.invalid,
        'k-field--required': this.KField.required,
        'k-field--disabled': this.KField.disabled,
        'k-field--has-value': this.hasValue,
        'k-field--focused': this.KField.focused,
        'k-field--has-placeholder': this.KField.placeholder,
        'k-field--file': this.KField.file,
        'k-field--textarea': this.KField.textarea,
        'k-field--image': this.KField.image,
        'k-field--no-padding': this.noPadding,
      }
    },
    stringValue() {
      return (this.KField.value || this.KField.value === 0) && this.KField.value.toString()
    },
    hasValue() {
      return this.stringValue && this.stringValue.length > 0
    },
    hasCounter() {
      return this.kCounter && (this.KField.maxlength || this.KField.counter)
    },
    valueLength() {
      if (this.stringValue) {
        return this.stringValue.length
      }
      return 0
    },
  },
}
</script>
<style lang="scss">
@import '../styles/tokens/colors';
@import '../styles/tokens/font-size';

.k-label {
  position: relative;
  color: $black;
  font-size: $text-size-regular;

  &.k-label--required::after {
    content: '*';
    font-size: $text-size-small;
    color: $red;
  }

  &.k-label--disabled {
    color: $gray;
  }

  &.k-label--invalid {
    color: $red;
  }

  &.k-label--blue {
    color: $blue;
  }

  &.k-label--purple {
    color: $purple
  }
}

.k-field-label {
  position: absolute;

  top: 5px;

  margin-bottom: 0;

  color: $black;
  font-size: $text-size-regular;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.k-field--focused .k-field-label,
.k-input:focus + .k-field-label,
.k-textarea:focus + .k-field-label,
.k-field.k-field--has-value .k-field-label {
  top: -18px;
  font-size: $text-size-small;
  color: $gray-darken-1;
}

.k-field-error,
.k-field-helper {
  font-size: $text-size-small;
}

.k-field-helper {
  color: $gray;
}

.k-field-error {
  display: none;
  color: $red;
}

.k-field {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 48px;

  margin: 0 0 15px;
  padding-top: 16px;

  color: $black;

  &.k-field--no-padding {
    padding-top: 0;
  }

  .k-textarea,
  .k-input {
    display: block;
    flex: 1;
    background: none;
    width: 100%;
  }

  &.k-field--file {
    .k-field-label {
      left: 33px;
    }

    .k-field-error,
    .k-field-helper {
      margin-left: 33px;
    }
  }

  &.k-field--image {
    .k-field-label {
      top: -20px;
      font-size: $text-size-small;
    }

    &.k-field--has-value .k-image-file {
      margin-bottom: 19px;
    }
  }

  &.k-field--invalid {
    color: $red;

    .k-field-label {
      color: $red;
    }

    .k-textarea,
    .k-input {
      border-color: $red;
    }

    .k-field-error {
      display: block;
    }

    .k-field-helper {
      display: none;
    }
  }

  &.k-field--required {
    .k-field-label::after {
      content: '*';
      position: absolute;
      color: $red;
      top: -2px;
      right: -8px;
    }
  }

  &.k-field--has-placeholder {
    .k-field-label {
      opacity: 0;
    }
  }

  &.k-field--focused {
    .k-field-label {
      opacity: 1;
      color: $blue;
    }

    &.k-field--purple {
      .k-field-label {
        color: $purple;
      }

      .k-textarea,
      .k-input {
        &:focus {
          border-color: $purple;
        }
      }
    }
  }

  &.k-field--has-value {
    .k-field-label {
      opacity: 1;
    }

    .k-input,
    .k-textarea {
      color: $black;
    }
  }

  &.k-field--disabled {
    .k-field-label {
      color: $gray;
      cursor: default;
    }

    .k-input,
    .k-textarea {
      color: $gray-darken-1;
    }
  }

  &.k-field--textarea {
    .k-field-label {
      top: 21px;
      left: 17px;
    }

    &.k-field--focused,
    &.k-field--has-value {
      .k-field-label {
        top: -15px;
        left: 0;
      }
    }
  }
}

.k-field-input-holder {
  display: flex;
  position: relative;
}

.k-field-counter {
  position: absolute;
  right: 0;
  bottom: -($text-size-small + 4px);
  font-size: $text-size-small;
}
</style>
