<template>
  <div class="k-file">
    <k-icon name="attachment" class="k-file-icon" :class="iconClasses" @click.native="openPicker"/>
    <input
      readonly
      type="text"
      class="k-input"
      v-model="model"
      v-bind="{ disabled, required, placeholder }"
      @click="openPicker"
      @blur="onBlur"
    >

    <input
      ref="inputFile"
      class="k-file--file-input"
      type="file"
      v-bind="{...$attrs, id, name, disabled, required , multiple}"
      v-on="$listeners"
      @change="onChange"
    >
  </div>
</template>

<script>
import KFieldMixin from './KFieldMixin'
import KIcon from './KIcon'
import generateId from '../core/utils/generateId'

export default {
  inject: ['KField'],
  mixins: [KFieldMixin],
  value: {},
  props: {
    id: { type: String, default: () => generateId() },
    label: { type: String, required: false },
    name: { type: String, required: true },
    required: { type: Boolean, default: false },
    disabled: { type: Boolean, default: false },
    multiple: { type: Boolean, default: false, },
  },
  methods: {
    openPicker() {
      this.onFocus()
      this.$refs.inputFile.click()
    },
    getMultipleName(files) {
      let names = [];
      [...files].forEach(({ name }) => names.push(name))
      return names.join(', ')
    },
    getFileName(files, target) {
      if (!files || files.length === 0) {
        return target.value.split('\\').pop()
      }
      if (files.length > 1) {
        return this.getMultipleName(files)
      }
      if (files.length === 1) {
        return files[0].name
      }
      return null
    },
    onChange($event) {
      this.onFileSelected($event)
    },
    onFileSelected({ target, dataTransfer }) {
      const files = target.files || dataTransfer.files
      this.model = this.getFileName(files, target)
      this.$emit('k-change', files || target.value)
    },
  },
  computed: {
    iconClasses() {
      return { 'k-disabled': this.disabled }
    },
  },
  components: { KIcon },
  created() {
    this.KField.file = true
  },
  beforeDestroy() {
    this.KField.file = false
  },
}
</script>

<style lang="scss">
@import '../styles/tokens/colors';
@import '../styles/mixins/visually-hidden';

.k-file {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.k-file--file-input {
  @include visually-hidden;
}

.k-file-icon {
  margin-right: 10px;

  &:not(.k-disabled) {
    cursor: pointer;
  }

  &.k-disabled {
    fill: $gray
  }
}

.k-field-input-holder .k-file {
  width: 100%;
}
</style>
