<template>
  <i class="k-icon" :class="classes">
    <component :is="icon"/>
  </i>
</template>

<script>
import KIconAttachment from './icons/KIconAttachment'
import KIconCheck from './icons/KIconCheck'
import KIconClose from './icons/KIconClose'
import KIconDownChevron from './icons/KIconDownChevron'
import KIconEdit from './icons/KIconEdit'
import KIconEye from './icons/KIconEye'
import KIconForbidden from './icons/KIconForbidden'
import KIconPhotoCamera from './icons/KIconPhotoCamera'
import KIconTrash from './icons/KIconTrash'
import KIconUpload from './icons/KIconUpload'
import KIconPlus from './icons/KIconPlus'
import KIconComment from './icons/KIconComment'
import KIconMagnifier from './icons/KIconMagnifier'
import KIconChevronLeft from './icons/KIconChevronLeft'
import KIconChevronRight from './icons/KIconChevronRight'
import KIconCalendar from './icons/KIconCalendar'
import KIconBell from '@/components/icons/KIconBell'

export default {
  components: {
    KIconAttachment,
    KIconCheck,
    KIconClose,
    KIconDownChevron,
    KIconEdit,
    KIconEye,
    KIconForbidden,
    KIconPhotoCamera,
    KIconTrash,
    KIconUpload,
    KIconPlus,
    KIconMagnifier,
    KIconChevronLeft,
    KIconChevronRight,
  },
  props: {
    name: {
      type: String,
      default: 'null',
    },
    small: { type: Boolean, default: false },
    large: { type: Boolean, default: false },
    xlarge: { type: Boolean, default: false },
  },
  computed: {
    icon() {
      if (!this.$options.iconMap.hasOwnProperty(this.name)) {
        throw Error(`Invalid icon name ${this.name}`)
      }
      return this.$options.iconMap[this.name]
    },
    classes() {
      return {
        'k-icon--small': this.small,
        'k-icon--large': this.large,
        'k-icon--xlarge': this.xlarge,
      }
    },
  },
  iconMap: {
    attachment: KIconAttachment,
    bell: KIconBell,
    'check': KIconCheck,
    'close': KIconClose,
    'down-chevron': KIconDownChevron,
    'chevron-down': KIconDownChevron,
    'chevron-left': KIconChevronLeft,
    'chevron-right': KIconChevronRight,
    'edit': KIconEdit,
    eye: KIconEye,
    forbidden: KIconForbidden,
    'photo-camera': KIconPhotoCamera,
    comment: KIconComment,
    plus: KIconPlus,
    trash: KIconTrash,
    upload: KIconUpload,
    magnifier: KIconMagnifier,
    calendar: KIconCalendar,
  },
}
</script>

<style lang="scss">
@import '../styles/tokens/colors';

.k-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  &.k-icon--small {
    width: 16px;
    height: 16px;
  }

  &.k-icon--large {
    width: 34px;
    height: 34px;
  }

  &.k-icon--xlarge {
    width: 48px;
    height: 48px;
  }

  svg {
    width: 100%;
    height: auto;
    max-height: 100%;

    fill: currentColor;
  }
}
</style>
