<template>
  <div class="k-image-file" :class="classes" @dragenter="onDragEnter" @dragleave="onDragEnd" @drop="onDragEnd">
    <div class="k-image-file-preview" :style="previewStyle">
      <k-icon v-if="!initialImageSource" class="k-image-file--icon" name="upload" xlarge></k-icon>
      <input
        type="file"
        v-bind="{...attributes, accept, id: this.KField.id}"
        class="k-image-file--input"
        @change="onChange"
        ref="fileInput"
      >
    </div>
    <div class="k-image-file-info">
      <div class="k-image-file-info-name" v-text="imageName"/>
      <div class="k-image-file-info-size" v-if="imageSize">
        {{imageSize | fileSize }}
      </div>
    </div>

    <button class="k-image-file-clear__button" v-if="this.KField.value" @click="clearFile" type="button">
      <k-icon name="close"></k-icon>
    </button>
  </div>
</template>

<script>
  import KFieldMixin from './KFieldMixin'
  import KIcon from './KIcon'
  import fileListFromArray from '../core/utils/fileListFromArray'
  import fileSize from '../filters/fileSize'

  export default {
    mixins: [KFieldMixin],
    inject: ['KField'],
    components: { KIcon },
    filters: { fileSize },
    props: {
      label: String,
      accept: { type: String, default: 'image/*' },
      value: {},
      initialImageSource: { type: String, default: null },
      initialImageName: { type: String, default: null },
    },
    model: { prop: 'value', event: 'change' },
    data() {
      return {
        imageUrl: this.initialImageSource,
        imageName: this.initialImageName,
        imageSize: 0,
        ondrag: false,
      }
    },
    computed: {
      classes() {
        return {
          'k-image-file--drag': this.ondrag,
          'k-image-file--has-value': this.model,
        }
      },
      previewStyle() {
        return {
          backgroundImage: this.imageUrl ? `url(${this.imageUrl})` : null,
        }
      },
    },
    watch: {
      value(newValue) {
        const [file] = newValue
        if (!file) {
          this.clearImage()
        } else {
          this.imageName = file.name
          this.imageSize = file.size
          this.imageUrl = URL.createObjectURL(file)
        }
      },
    },
    methods: {
      onDragEnter() {
        this.ondrag = true
        this.KField.focused = true
      },
      clearFile() {
        const input = this.$refs.fileInput
        input.type = 'text'
        input.type = 'file'
        this.clearImage()
        this.$emit('change', fileListFromArray([]))
      },
      onDragEnd() {
        this.ondrag = false
        this.KField.focused = false
      },
      update(val) {
        this.$emit('input', val)
      },
      onChange($event) {
        this.onFileSelected($event)
      },
      clearImage() {
        this.KField.value = null
        this.imageName = this.initialImageName
        this.imageSize = 0
        this.imageUrl = this.initialImageSource
        this.model = ''
      },
      onFileSelected({ target, dataTransfer }) {
        const files = target.files || dataTransfer.files
        this.model = this.getFileName(files, target)

        this.$emit('change', files || target.value)
      },
      getFileName(files, target) {
        if (!files || files.length === 0) {
          return target.value.split('\\').pop()
        }

        return files[0].name
      },
    },
    created() {
      this.KField.image = true
    },
    beforeDestroy() {
      this.KField.image = false
    },
  }
</script>

<style lang="scss">
  @import '../styles/tokens/colors';
  @import '../styles/tokens/font-size';
  @import '../styles/tokens/z-index';
  @import '../styles/tokens/box-shadow';

  .k-image-file {
    position: relative;
    margin-bottom: 19px;

    width: 230px;
    height: 140px;

    &.k-image-file--drag {
      box-shadow: $image-file-drop-shadow;
    }

    &.k-image-file--has-value {
      .k-image-file--icon {
        display: none;
      }
    }
  }

  .k-image-file-info {
    display: flex;
    width: 100%;
    max-width: 230px;

    font-size: $text-size-small;
    color: $gray;
  }

  .k-image-file-preview {
    width: 100%;
    max-width: 100%;

    height: 100%;
  }

  .k-image-file-info-name {
    margin-right: 5px;
    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
  }

  .k-image-file-info-size {
    flex-shrink: 0;
  }

  .k-image-file-preview {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 230px;
    height: 140px;

    border: 2px dashed $gray;
    border-radius: 3px;
    background-color: $gray-lighter-1;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .k-image-file--icon {
    color: $gray-darken-1;
  }

  .k-image-file--input {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: $image-drop-z-index;
    opacity: 0;

    &:not([disabled]) {
      cursor: pointer;
    }
  }

  .k-image-file-clear__button {
    position: absolute;

    top: 0;
    right: -30px;

    color: $gray;
    background-color: transparent;
    border: 0;
    outline: 0;

    cursor: pointer;

    &:hover {
      color: $gray-darken-1;
    }
  }
</style>
