<template>
  <input
    :id="id"
    class="k-input"
    :class="inputClasses"
    v-bind="attributes"
    v-model="model"
    v-on="listeners"
    @focus="onFocus"
    @blur="onBlur"
  >
</template>
<script>
import KFieldMixin from './KFieldMixin'
import generateId from '../core/utils/generateId'

export default {
  inject: ['KField'],
  mixins: [KFieldMixin],
  data() {
    return {
      newValue: this.value,
    }
  },
  methods: {
    update(event) {
      this.$nextTick(() => {
        if (event.target) {
          this.computedValue = event.target.value
        }
      })
    },
  },
  props: {
    id: { type: String, default: () => generateId() },
    label: String,
    value: {},
    placeholder: String,
    name: String,
    maxlength: [String, Number],
    readonly: Boolean,
    required: { type: Boolean, default: false },
    disabled: { type: Boolean, default: false },
    type: { type: String, default: 'text' },
  },
  computed: {
    inputClasses() {
      return {
        'k-input--disabled': this.disabled,
      }
    },
    listeners() {
      var l = { ...this.$listeners }
      delete l.input
      return l
    },
    attributes() {
      return {
        ...this.$attrs,
        type: this.type,
        id: this.id,
        name: this.name,
        disabled: this.disabled,
        required: this.required,
        placeholder: this.placeholder,
        readonly: this.readonly,
        maxlength: this.maxlength,
      }
    },
  },

}
</script>
<style lang="scss">
@import '../styles/tokens/colors';
@import '../styles/tokens/font-size';

.k-input {
  color: $gray;
  font-size: $text-size-regular;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.35rem;
  padding-top: 0.35rem;
  border-width: 1px;
  border-radius: 0;
  border-color: $gray;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  transition: all 0.2s ease-in-out;

  &:focus {
    color: $black;
    outline: 0;
    border-color: $blue;
  }

  &.k-input--disabled,
  [disabled] {
    color: $gray-darken-1;
    background-color: $gray-lighter-1;
    border-color: $gray;
  }

  &:required {
    box-shadow: none; // Firefox overflow
  }
}
</style>
