<template>
  <div class="k-line-trailer" :class="classes">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    props: {
      right: {
        type: Boolean,
        default: true,
      },
      left: {
        type: Boolean,
        default: false,
      }, blue: {
        type: Boolean,
        default: false,
      },
      gray: {
        type: Boolean,
        default: false,
      }, blueLine: {
        type: Boolean,
        default: false,
      },
      grayLine: {
        type: Boolean,
        default: false,
      },
      blackLine: {
        type: Boolean,
        default: false,
      },
      boldLine: {
        type: Boolean,
        default: false,
      },
      slim: { type: Boolean, default: false },
    },
    data() {
      return {
        textura: '',
      }
    },
    computed: {
      classes() {
        return {
          'k-line-trailer--slim': this.slim,
          'k-line-trailer--right': this.right,
          'k-line-trailer--left': this.left,
          'k-line-trailer--blue': this.blue,
          'k-line-trailer--gray': this.gray,
          'k-line-trailer--blue-line': this.blueLine,
          'k-line-trailer--gray-line': this.grayLine,
          'k-line-trailer--black-line': this.blackLine,
          'k-line-trailer--bold-line': this.boldLine,
        }
      },
    },
  }
</script>

<style lang="scss">
  @import "../styles/tokens/colors";

  .k-line-trailer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: $black;

    &.k-line-trailer--blue {
      color: $blue;
    }

    &.k-line-trailer--gray {
      color: $gray;
    }

    &.k-line-trailer--blue-line {
      &.k-line-trailer--left::before,
      &.k-line-trailer--right::after {
        border-color: $blue;
      }
    }

    &.k-line-trailer--black-line {
      &.k-line-trailer--left::before,
      &.k-line-trailer--right::after {
        border-color: $black;
      }
    }

    &.k-line-trailer--gray-line {
      &.k-line-trailer--left::before,
      &.k-line-trailer--right::after {
        border-color: $gray;
      }
    }

    &.k-line-trailer--right::after {
      content: '';
      flex: 1 0 20px;
      border-top-width: 2px;
      border-top-style: solid;
      margin: 0 0 0 1rem;
    }

    &.k-line-trailer--left::before {
      content: '';
      flex: 1 0 20px;
      border-top: 2px solid;
      margin: 0 1rem 0 0;
    }

    &.k-line-trailer--slim {
      &.k-line-trailer--left::before,
      &.k-line-trailer--right::after {
        border-top-width: 1px;
      }
    }

    &.k-line-trailer--bold-line {
      &.k-line-trailer--left::before,
      &.k-line-trailer--right::after {
        border-top-width: 4px;
      }
    }
  }
</style>
