<template>
  <transition name="k-modal">
    <div class="k-modal" v-if="active" v-on="$listeners" @keyup.esc="onEsc">
      <div class="k-modal-overlay" @click="onOverlayClick"/>
      <k-focus-trap>
        <div class="k-modal-dialog">
          <button
            type="button"
            class="k-modal-dialog-close__button"
            @click="close"
            v-if="closeButton"
          >
            <k-icon name="close" small></k-icon>
          </button>
          <div class="k-modal-dialog-top-wrapper" v-if="$slots.top || top">
            <div class="k-modal-dialog-top">
              <slot name="top">{{top}}</slot>
            </div>
          </div>
          <div v-if="this.$slots.header || header" :class="headerClasses" class="k-modal-dialog-header">
            <slot name="header">
              {{header}}
            </slot>
          </div>
          <div class="k-modal-dialog-body" :class="bodyClasses">
            <slot></slot>
          </div>
          <div v-if="this.$slots.footer || footer" :class="footerClasses" class="k-modal-dialog-footer">
            <slot name="footer">{{footer}}</slot>
          </div>
          <div class="k-modal-dialog-bottom" v-if="this.$slots.bottom || bottom">
            <slot name="bottom">{{bottom}}</slot>
          </div>
        </div>
      </k-focus-trap>
    </div>
  </transition>
</template>

<script>
import KFocusTrap from './KFocusTrap'
import KIcon from './KIcon'

export default {
  components: { KFocusTrap, KIcon },
  props: {
    top: String,
    header: String,
    footer: String,
    bottom: String,
    active: { type: Boolean, default: false },
    spaced: { type: Boolean, default: false },
    noSpace: { type: Boolean, default: false },
    closeButton: { type: Boolean, default: false },
    clickOutsideToClose: { type: Boolean, default: true },
    closeOnEsc: { type: Boolean, default: true },
  },
  methods: {
    onEsc($event) {
      if (this.closeOnEsc) {
        this.close($event)
      }
    },
    close($event) {
      this.$emit('close', $event)
    },
    onOverlayClick($event) {
      if (this.clickOutsideToClose) {
        this.close($event)
      }
    },
  },
  computed: {
    bodyClasses() {
      return {
        'k-modal-dialog-body--no-space': this.noSpace,
        'k-modal-dialog-body--spaced': this.spaced,
      }
    },
    headerClasses() {
      return {
        'k-modal-dialog-header--no-space': this.noSpace,
        'k-modal-dialog-header--spaced': this.spaced,
      }
    },
    footerClasses() {
      return {
        'k-modal-dialog-footer--no-space': this.noSpace,
        'k-modal-dialog-footer--spaced': this.spaced,
      }
    },
  },
}
</script>

<style lang="scss">
@import '../styles/tokens/colors';
@import '../styles/tokens/font-size';
@import '../styles/tokens/box-shadow';
@import '../styles/tokens/border-radius';
@import '../styles/tokens/z-index';

.k-modal {
  position: absolute;
  opacity: 1;

  &-enter-active,
  &-leave-active {
    transition: opacity .2s
  }

  &-enter,
  &-leave-to {
    opacity: 0
  }

  &-enter &-dialog,
  &-leave-active &-dialog {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.k-modal-overlay {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background-color: $black;
  opacity: 0.9;

  transition: all .35s cubic-bezier(.4, 0, .2, 1);

  z-index: $modal-overlay-z-index;
}

.k-modal-dialog-top-wrapper {
  display: flex;
  width: 100%;
}

.k-modal-dialog-top {
  display: flex;

  overflow: hidden;

  width: 100%;

  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;

  .k-tab-menu-item {
    flex-grow: 1;
    text-align: center;
    margin: 0;
  }
}

.k-modal-dialog-bottom {
  display: flex;

  overflow: hidden;

  width: 100%;

  border-bottom-left-radius: $border-radius-small;
  border-bottom-right-radius: $border-radius-small;
}

.k-modal-dialog {
  position: fixed;

  top: 50%;
  left: 50%;

  display: flex;
  flex-flow: column;
  flex-direction: column;

  min-width: 280px;
  max-width: 90%;
  max-height: 90%;

  margin: auto;

  border-radius: $border-radius-small;

  background-color: $white;
  box-shadow: $modal-dialog-shadow;
  z-index: $modal-overlay-dialog-z-index;

  transform: translate(-50%, -50%);
  transform-origin: center center;

  transition: all .15s cubic-bezier(.25, .8, .25, 1), transform .2s cubic-bezier(.25, .8, .25, 1);
  will-change: opacity, transform, left, top;
}

.k-modal-dialog-footer,
.k-modal-dialog-header,
.k-modal-dialog-body {
  width: 100%;
}

.k-modal-dialog-body {
  padding: 10px;
  overflow: auto;

  &.k-modal-dialog-body--spaced {
    padding: 20px 30px;
  }

  &.k-modal-dialog-body--no-space {
    padding: 0;
  }
}

.k-modal-dialog-header {
  padding: 16px 10px 0;
  font-size: $text-size-3;

  &.k-modal-dialog-header--spaced {
    padding: 20px 30px 0;
  }

  &.k-modal-dialog-header--no-space {
    padding: 0;
  }
}

.k-modal-dialog-footer {
  padding: 0 10px 5px;

  &.k-modal-dialog-footer--spaced {
    padding: 0 30px 10px;
  }

  &.k-modal-dialog-footer--no-space {
    padding: 0;
  }
}

.k-modal-dialog-close__button {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  right: -37px;

  width: 32px;
  height: 32px;

  padding: 0;

  color: $white;
  border: 2px solid $white;

  border-radius: $border-radius-round;

  background-color: transparent;

  cursor: pointer;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: $gray-lighter-1;
  }

  &:focus {
    outline: none;
  }
}
</style>
