<template>
  <nav :class="classes" class="k-pagination" role="navigation" aria-label="Pagination Navigation">
    <ul class="k-pagination__list">
      <li
        v-if="!hidePrevNext"
        class="k-pagination-list__item k-pagination-list-item--side"
      >
        <a
          :class="firstPageSelected ? 'k-pagination-link--disabled' : ''"
          @click="prevPage()"
          @keyup.enter="prevPage()"
          :tabindex="firstPageSelected ? -1 : 0"
          class="k-pagination__link"
          aria-label="Previous Page"
        >
          <k-icon class="k-pagination-link__icon" name="chevron-left"/>
        </a>
      </li>
      <li
        class="k-pagination-list__item"
        v-for="page in pages"
        :key="page.content"
      >
        <a
          class="k-pagination__link k-pagination-link--disabled"
          v-if="page.breakView"
          tabindex="0">
          <slot name="breakViewContent">...</slot>
        </a>
        <a
          v-else-if="page.disabled"
          :class="[page.selected ? 'k-pagination-link--active' : null]"
          v-text="page.content"
          class="k-pagination__link"
          tabindex="0"
        />
        <a
          v-else
          @click="handlePageSelected(page.index + 1)"
          @keyup.enter="handlePageSelected(page.index + 1)"
          :aria-label="page.selected ? `Current Page, Page ${page.content}` : null"
          :aria-current="page.selected ? true : null"
          v-text="page.content"
          :class="[page.selected ? 'k-pagination-link--active' : null]"
          class="k-pagination__link"
          tabindex="0"
        />
      </li>

      <li
        class="k-pagination-list__item k-pagination-list-item--side"
        v-if="! hidePrevNext"
      >
        <a
          @click="nextPage()"
          @keyup.enter="nextPage()"
          :class="lastPageSelected ? 'k-pagination-link--disabled' : ''"
          :tabindex="lastPageSelected ? -1 : 0"
          aria-label="Next Page"
          class="k-pagination__link"
        >
          <k-icon class="k-pagination-link__icon" name="chevron-right"/>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
import KIcon from './KIcon'

export default {
  components: { KIcon },
  props: {
    value: { type: Number },
    pageCount: { type: Number, required: true },
    pageRange: { type: Number, default: 3 },
    marginPages: { type: Number, default: 1 },
    forcePage: { type: Number },
    clickHandler: {
      type: Function,
      default: () => {
      },
    },
    hidePrevNext: { type: Boolean, default: false },
    purple: { type: Boolean, default: false },
  },
  data() {
    return {
      innerValue: 1,
    }
  },
  computed: {
    classes() {
      return {
        'k-pagination--purple': this.purple,
      }
    },
    selected: {
      get: function () {
        return this.value || this.innerValue
      },
      set: function (newValue) {
        this.innerValue = newValue
      },
    },
    firstPageSelected() {
      return this.selected === 1
    },
    lastPageSelected() {
      return this.selected === this.pageCount || this.pageCount === 0
    },
    pages() {
      let items = {}
      if (this.pageCount <= this.pageRange) {
        for (let index = 0; index < this.pageCount; index++) {
          items[index] = {
            index: index,
            content: index + 1,
            selected: index === (this.selected - 1),
          }
        }
        return items
      }
      const halfPageRange = Math.floor(this.pageRange / 2)
      const setPageItem = index => {
        items[index] = {
          index: index,
          content: index + 1,
          selected: index === (this.selected - 1),
        }
      }
      const setBreakView = index => {
        items[index] = {
          disabled: true,
          breakView: true,
        }
      }
      /* 1st - loop thru low end of margin pages */
      for (let i = 0; i < this.marginPages; i++) {
        setPageItem(i)
      }
      /* 2nd - loop thru selected range */
      let selectedRangeLow = 0
      if (this.selected - halfPageRange > 0) {
        selectedRangeLow = this.selected - 1 - halfPageRange
      }
      let selectedRangeHigh = selectedRangeLow + this.pageRange - 1
      if (selectedRangeHigh >= this.pageCount) {
        selectedRangeHigh = this.pageCount - 1
        selectedRangeLow = selectedRangeHigh - this.pageRange + 1
      }
      for (let i = selectedRangeLow; i <= selectedRangeHigh && i <= this.pageCount - 1; i++) {
        setPageItem(i)
      }
      /* Check if there is breakView in the left of selected range */
      if (selectedRangeLow > this.marginPages) {
        setBreakView(selectedRangeLow - 1)
      }
      /* Check if there is breakView in the right of selected range */
      if (selectedRangeHigh + 1 < this.pageCount - this.marginPages) {
        setBreakView(selectedRangeHigh + 1)
      }
      /* 3rd - loop thru high end of margin pages */
      for (let i = this.pageCount - 1; i >= this.pageCount - this.marginPages; i--) {
        setPageItem(i)
      }
      return items
    },
  },
  methods: {
    handlePageSelected(selected) {
      if (this.selected === selected) {
        return
      }
      this.innerValue = selected
      this.$emit('input', selected)
      this.clickHandler(selected)
    },
    prevPage() {
      if (this.selected <= 1) return
      this.handlePageSelected(this.selected - 1)
    },
    nextPage() {
      if (this.selected >= this.pageCount) return
      this.handlePageSelected(this.selected + 1)
    },
  },
  beforeUpdate() {
    if (this.forcePage === undefined) {
      return
    }
    if (this.forcePage !== this.selected) {
      this.selected = this.forcePage
    }
  },
}
</script>

<style scoped lang="scss">
@import '../styles/tokens/box-shadow';
@import '../styles/tokens/border-radius';
@import '../styles/tokens/colors';
@import '../styles/tokens/font-size';
@import '../styles/tokens/font-weights';

$border-radius: 50px;

.k-pagination {
  display: inline-block;
  color: $blue;

  font-size: $text-size-small;
  font-weight: $font-weight-bold;
  font-style: italic;
  line-height: 16px;
  letter-spacing: 0.08em;

  background: $beige-light;
  box-shadow: $pagination-shadow;
  border-radius: $border-radius;

  &.k-pagination--purple {
    color: $purple;

    .k-pagination__link {
      &:not(.k-pagination-link--disabled) {
        &:hover {
          color: $purple-dark;
        }

        &:focus {
          box-shadow: 0 0 4px -1px $purple-dark;
        }
      }

      &.k-pagination-link--disabled {
        color: $purple-light;
      }
      &.k-pagination-link--active {
        background: $purple-light;
      }
    }
  }

}

.k-pagination__list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.k-pagination-link__icon {
  width: 7px;
  height: 13px;
}

.k-pagination-list__item {
  margin: 10px 2px;

  &.k-pagination-list-item--side {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-left: 10px;
    margin-right: 10px;

    .k-pagination__link {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.k-pagination__link {
  display: inline-block;
  text-align: center;

  min-width: 26px;
  min-height: 26px;

  padding: 5px;
  border-radius: 26px;

  transition: all .2s;

  &.k-pagination-link--disabled {
    color: $blue-light;
  }

  &:not(.k-pagination-link--disabled) {
    cursor: pointer;

    &:hover {
      color: $blue-dark;
    }

    &:focus {
      box-shadow: 0 0 4px -1px $blue-dark;
    }
  }

  &:focus {
    outline: 0;
  }

  &.k-pagination-link--active {
    background: $blue-light;
  }
}
</style>
