<template>
  <div class="k-progress-bar" :class="classes">
    <div class="k-progress-bar-track">
      <div class="k-progress-bar-runner"></div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      thin: { type: Boolean, default: false },
      thick: { type: Boolean, default: false },
      orange: { type: Boolean, default: false },
      red: { type: Boolean, default: false },
    },
    computed: {
      classes() {
        return {
          'k-progress-bar--thin': this.thin,
          'k-progress-bar--thick': this.thick,
          'k-progress-bar--orange': this.orange,
          'k-progress-bar--red': this.red,
        }
      },
    },
  }
</script>

<style lang="scss">
  @import '../styles/tokens/colors';

  .k-progress-bar {
    display: flex;

    width: 100%;
    background-color: $gray;

    &.k-progress-bar--thin {
      .k-progress-bar-track {
        height: 2px;
      }
    }

    &.k-progress-bar--thick {
      .k-progress-bar-track {
        height: 8px;
      }
    }

    &.k-progress-bar--orange {
      .k-progress-bar-runner {
        background-color: $orange;
      }
    }

    &.k-progress-bar--red {
      .k-progress-bar-runner {
        background-color: $red;
      }
    }
  }

  .k-progress-bar-track {
    width: 100%;
    height: 5px;
    overflow: hidden;
  }

  .k-progress-bar-runner {
    display: flex;

    height: 100%;
    width: 20%;

    background-color: $blue;

    transform: translateZ(0) scaleY(1);
    transform-origin: center center;
    transition: opacity 0.3s cubic-bezier(.4, 0, .2, 1), transform 0.4s cubic-bezier(.4, 0, .2, 1);
    will-change: opacity, transform;

    animation: progress-bar-indeterminate-runner 2s infinite linear;
  }

  @keyframes progress-bar-indeterminate-runner {
    0% {
      transform: translateX(-99%)
    }
    25% {
      animation-timing-function: cubic-bezier(.5, 0, .70, .5);
      transform: translateX(100%)
    }
    60% {
      animation-timing-function: cubic-bezier(.30, .38, .55, .96);
      transform: translateX(300%)
    }
    100% {
      animation-timing-function: cubic-bezier(.30, .38, .55, .96);
      transform: translateX(599%)
    }
  }
</style>
