<template>
  <div class="k-radio" :class="classes">
    <div
      class="k-radio-wrapper"
      :class="wrapperClasses"
      @click.stop="toggleCheck"
    >
      <input
        class="k-radio-input"
        type="radio"
        v-bind="{...$attrs, id, disabled, value, checked: isSelected }"
      />
    </div>
    <label
      v-if="label || $slots.default"
      :class="labelClasses"
      :for="id"
      @click.prevent="toggleCheck"
      class="k-radio-label"
    >
      <slot>{{ label }}</slot>
    </label>
  </div>
</template>
<script>
import generateId from '../core/utils/generateId'

export default {
  props: {
    label: String,
    checked: { type: Boolean, default: false, },
    noMargin: { type: Boolean, default: false },
    disabled: { type: Boolean, default: false },
    required: { type: Boolean, default: false },
    purple: { type: Boolean, default: false },
    id: { type: String, default: () => generateId() },
    model: [String, Number, Boolean, Object],
    value: {
      type: [String, Number, Boolean, Object],
      default: 'on',
    },
  },
  model: {
    prop: 'model',
    event: 'change',
  },
  methods: {
    toggleCheck() {
      if (!this.disabled) {
        this.$emit('change', this.value)
      }
    },
  },
  computed: {
    isSelected() {
      return this.model === this.value || this.checked
    },
    classes() {
      return {
        'k-radio--disabled': this.disabled,
        'k-radio--checked': this.checked || this.isSelected,
        'k-radio--toggle': this.toggle,
        'k-radio--no-margin': this.noMargin,
      }
    },
    labelClasses() {
      return {
        'k-radio-label--required': this.required,
      }
    },
    wrapperClasses() {
      return {
        'k-radio-wrapper--disabled': this.disabled,
        'k-radio-wrapper--purple': this.purple,
        'k-radio-wrapper--checked': this.isSelected,
      }
    },
  },
}
</script>
<style lang="scss">
@import "../styles/tokens/colors";
@import "../styles/mixins/visually-hidden";

.k-radio-label {
  position: relative;
  padding-left: 10px;
  margin-bottom: 0;

  color: $black;

  &.k-radio-label--required {
    &::after {
      content: '*';
      position: absolute;
      color: $red;
      top: -2px;
      right: -8px;
    }
  }
}

.k-radio-wrapper {
  position: relative;

  flex-basis: 20px;

  width: 20px;
  height: 20px;
  min-width: 20px;

  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: $gray;

  background-color: transparent;

  transition: all 0.2s ease-in-out;

  &:not(.k-radio-wrapper--disabled) {
    cursor: pointer;
  }

  &.k-radio-wrapper--checked {
    &::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      width: 14px;
      height: 14px;
      background-color: $blue;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
    }

    &.k-radio-wrapper--purple::after {
      background-color: $purple;
    }
  }

  &.k-radio-wrapper--checked.k-radio-wrapper--disabled::after {
    background-color: $gray;
  }
}

.k-radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: auto;
  margin: 16px 16px 16px 0;

  &.k-radio--no-margin {
    margin: 0;
  }

  &.k-radio--disabled {
    .k-radio-label {
      color: $gray-darken-1;
    }
  }

  &:not(.k-radio--disabled) {
    .k-radio-label {
      cursor: pointer;
    }

    .k-radio-wrapper {
      border-color: $blue;

      &.k-radio-wrapper--purple {
        border-color: $purple;
      }
    }
  }
}

.k-radio-input {
  @include visually-hidden;
}
</style>
