<template>
  <div class="k-rating" :class="classes" @mouseleave="resetRating">
    <div class="k-rating-item" v-for="n in maxRating" :key="n" :style="{'margin-right': margin ? `${margin}px` : null}">
      <label :for="`${name}-rating-${n}`" class="k-rating-item--label">
        <input
          v-bind="{name}"
          :value="n"
          :checked="selectedRating == n"
          :id="`${name}-rating-${n}`"
          type="radio"
          class="k-rating--input"
        >
        <k-rating-star
          @star-selected="setRating($event, true)"
          @star-mouse-move="setRating"
          :fill="fillLevel[n-1]"
          :size="size"
          :points="starPoints"
          :star-id="n"
          :step="step"
          :active-color="activeColor"
          :inactive-color="inactiveColor"
          :border-color="borderColor"
          :border-width="borderWidth"
          :rounded-corners="roundedCorners"
        />
      </label>
    </div>
  </div>
</template>

<script>
import KRatingStar from './KRatingStar'
import generateId from '../core/utils/generateId'

export default {
  components: { KRatingStar },
  props: {
    small: { type: Boolean, default: false },
    large: { type: Boolean, default: false },
    name: { type: String, default: () => generateId('k-rating-') },
    readonly: { type: Boolean, default: false },
    margin: { type: Number, required: false },
    increment: { type: Number, default: 1, },
    rating: { type: Number, default: 0, },
    roundStartRating: { type: Boolean, default: true, },
    activeColor: { type: String, default: '#4b6af4', },
    inactiveColor: { type: String, default: '#c9c9c9', },
    maxRating: { type: Number, default: 5, },
    starPoints: {
      type: Array,
      default() {
        return []
      },
    },
    starSize: { type: Number, default: 20, },
    showRating: { type: Boolean, default: true, },
    textClass: { type: String, default: '', },
    inline: { type: Boolean, default: false },
    borderColor: { type: String, default: '#111', },
    borderWidth: { type: Number, default: 0, },
    roundedCorners: { type: Boolean, default: false, },
    padding: { type: Number, default: 0, },
    fixedPoints: { type: Number, default: null, },
    glow: { type: Number, default: 0, },
  },
  model: { prop: 'rating', event: 'input' },
  data() {
    return {
      step: 0,
      fillLevel: [],
      currentRating: 0,
      selectedRating: 0,
      ratingSelected: false,
    }
  },
  computed: {
    classes() {
      return {
        'k-rating--readonly': this.readonly,
        'k-rating--inline': this.inline,
        'k-rating--small': this.small,
        'k-rating--large': this.large,
      }
    },
    size() {
      if (this.small) {
        return 15
      }
      if (this.large) {
        return 30
      }

      return this.starSize
    },
    shouldRound() {
      return this.ratingSelected || this.roundStartRating
    },
  },
  watch: {
    rating() {
      this.currentRating = this.rating
      this.selectedRating = this.currentRating
      this.createStars(this.roundStartRating)
    }
  },
  methods: {
    setRating($event, persist) {
      if (this.readonly) {
        return
      }

      const position = $event.position / 100
      this.currentRating = (($event.id + position) - 1).toFixed(2)
      this.currentRating = (this.currentRating > this.maxRating) ? this.maxRating : this.currentRating
      this.createStars()
      if (!persist) {
        this.$emit('current-rating', this.currentRating)
      } else {
        this.selectedRating = this.currentRating
        this.$emit('input', this.selectedRating)
        this.ratingSelected = true
      }
    },
    resetRating() {
      if (!this.readonly) {
        this.currentRating = this.selectedRating
        this.createStars(this.shouldRound)
      }
      this.$emit('reset-rating', this.currentRating)
    },
    round() {
      const inv = 1.0 / this.increment
      this.currentRating = Math.min(this.maxRating, Math.ceil(this.currentRating * inv) / inv)
    },
    createStars(round = true) {
      if (round) {
        this.round()
      }
      for (let i = 0; i < this.maxRating; i++) {
        let level = 0
        if (i < this.currentRating) {
          level = (this.currentRating - i > 1) ? 100 : (this.currentRating - i) * 100
        }
        this.$set(this.fillLevel, i, Math.round(level))
      }
    },
  },
  created() {
    this.step = this.increment * 100
    this.currentRating = this.rating
    this.selectedRating = this.currentRating
    this.createStars(this.roundStartRating)
  },
}
</script>

<style lang="scss">
@import '../styles/tokens/colors';
@import '../styles/mixins/visually-hidden';

.k-rating {
  display: flex;

  &.k-rating--inline {
    display: inline-flex;
  }

  &:not(.k-rating--readonly) {
    .k-rating-item--label,
    .k-rating-item--label svg,
    .k-rating-item {
      cursor: pointer;
    }
  }

  &.k-rating--small {
    .k-rating-item {
      margin-right: 5px;
    }
  }

  &.k-rating--large {
    .k-rating-item {
      margin-right: 15px;
    }
  }
}

.k-rating-item {
  margin-right: 10px;
}

.k-rating--input {
  @include visually-hidden;
}
</style>
