<template>
  <div class="k-rounded-input">
    <div class="k-rounded-input-holder" :class="holderClasses">
      <slot name="left"/>
      <input
        v-model="localValue"
        v-bind="$attrs"
        v-on="listeners"
        :type="type"
        :class="inputClasses"
        @focus="onFocus"
        @blur="onBlur"
        class="k-rounded__input"
      >
      <slot name="right"/>
    </div>
    <slot/>
  </div>
</template>

<script>
export default {
  props: {
    value: {},
    type: { type: String, default: 'text' },
    purple: { type: Boolean, default: false },
  },
  model: {
    get() {
      return this.localValue
    },
    set(value) {
      if (value.constructor.toString().match(/function (\w*)/)[1].toLowerCase() !== 'inputevent') {
        this.$nextTick(() => {
          this.localValue = value
        })
      }
    },
  },
  data() {
    return {
      localValue: this.value,
      focused: false,
    }
  },
  computed: {
    inputClasses() {
      return {
        'k-rounded__input--purple': this.purple,
      }
    },
    holderClasses() {
      return {
        'k-rounded-input-holder--focus': this.focused,
        'k-rounded-input-holder--purple': this.purple,
      }
    },
    listeners() {
      const l = { ...this.$listeners }
      delete l.input
      return l
    },
  },
  watch: {
    value(val) {
      this.localValue = val
    },
    localValue(val) {
      this.$emit('input', val)
    },
  },
  methods: {
    onFocus() {
      this.focused = true
    },
    onBlur() {
      this.focused = false
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/tokens/colors';
@import '../styles/tokens/font-size';

.k-rounded-input-holder {
  display: flex;
  justify-content: space-between;

  font-size: $text-size-regular;

  border-radius: 50px;
  background-color: $white;
  color: $blue;
  overflow: hidden;

  &.k-rounded-input-holder--purple {
    color: $purple;
  }

  &.k-rounded-input-holder--focus {
    box-shadow: 0 1px 5px -1px #cccccc;
  }
}

.k-rounded__input {
  flex-grow: 1;

  width: 100%;

  padding: 12px 20px;

  color: $blue;
  font-size: $text-size-regular;

  border: 0;

  background-color: $white;

  &.k-rounded__input--purple {
    color: $purple;
  }

  &:focus {
    outline: 0;
  }
}
</style>
