<script>
import KSpinner from './KSpinner'
import RouterLink from '../core/mixins/RouterLink'

export default {
  mixins: [RouterLink],
  components: { KSpinner },
  props: {
    type: { type: String, default: 'button' },
    loading: { type: Boolean, default: false },
    href: String,
    purple: { type: Boolean, default: false },
    disabled: { type: Boolean, default: false },
    grouped: { type: Boolean, default: false },
    secondary: { type: Boolean, default: false },
    gradient: { type: Boolean, default: false },
    uppercase: { type: Boolean, default: false },
    size: {
      type: String,
      default: 'medium',
      validator: function (value) {
        return ['medium', 'small'].indexOf(value) !== -1
      },
    },
  },
  methods: {
    onClick() {
      this.$emit('click')
    },
  },
  computed: {
    isRouterLink() {
      return this.$router && this.to
    },
    classes() {
      return {
        'k-rounded-button--small': this.size === 'small',
        'k-rounded-button--disabled': this.disabled,
        'k-rounded-button--purple': this.purple,
        'k-rounded-button--loading': this.loading,
        'k-rounded-button--secondary': this.secondary,
        'k-rounded-button--grouped': this.grouped,
        'k-rounded-button--gradient': this.gradient,
        'k-rounded-button--uppercase': this.uppercase,
      }
    },
    spinnerDiameter() {
      return { 'medium': 35, 'small': 25 }[this.size]
    },
    spinnerStrokeWidth() {
      return { 'medium': 5, 'small': 3 }[this.size]
    },
    spinnerColor() {
      if (this.secondary) {
        return '#c9c9c9'
      }
      return '#fff'
    },
  },
  render(createElement) {
    const buttonAttrs = {
      staticClass: 'k-rounded-button',
      attrs: {
        ...this.$attrs,
        href: this.href,
        disabled: this.disabled,
        type: !this.href && (this.type || 'button'),
      },
      on: {
        ...this.$listeners,
      },
      class: this.classes,
    }
    let tag = 'button'
    if (this.href) {
      tag = 'a'
    } else if (this.isRouterLink) {
      tag = 'router-link'
      const RouterLink = this.$options.components['RouterLink'] || this.$options.components['router-link']

      this.$options.props = {
        ...this.$options.props,
        ...RouterLink.options.props,
      }
      const exactActiveClass = this.$props.exactActiveClass
      const activeClass = `${this.$props.activeClass || ''} k-active`
      buttonAttrs.props = {
        ...this.$props,
        exactActiveClass,
        activeClass,
      }

      delete buttonAttrs.attrs.type
      delete buttonAttrs.props.type
      delete buttonAttrs.attrs.href
      delete buttonAttrs.props.href
    }
    const children = [
      this.loading ? createElement('k-spinner', {
        props: {
          diameter: this.spinnerDiameter,
          'stroke-width': this.spinnerStrokeWidth,
          color: this.spinnerColor,
        },
      }) : null,
      createElement('span', { staticClass: 'k-rounded-button-content' }, this.$slots.default),
    ]

    return createElement(tag, buttonAttrs, children)
  },
}
</script>

<style lang="scss">
@import '../styles/tokens/colors';
@import '../styles/tokens/font-size';
@import '../styles/tokens/box-shadow';

.k-rounded-button {
  position: relative;

  min-width: 125px;

  padding: 12px 55px;

  background-color: $blue;

  font-size: $text-size-2;
  font-weight: 600;
  color: $white;

  text-align: center;
  text-decoration: none;

  border: 0;
  border-radius: 50px;

  transition: all .3s;

  cursor: pointer;

  &:hover {
    background-color: $blue-dark;
    box-shadow: $rounded-btn-hover-shadow;
  }

  &.k-rounded-button--purple {
    background-color: $purple;

    &.k-rounded-button--gradient {
      background-image: linear-gradient(90deg, $purple, $purple-light);

      &:not(.k-rounded-button--disabled):hover {
        background-image: linear-gradient(90deg, $purple-dark, $purple);
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($purple, 0.5);
    }

    &:not(.k-rounded-button--disabled):hover {
      background-color: $purple-dark;
    }
  }

  &.k-rounded-button--gradient {
    background-image: linear-gradient(90deg, $blue, $blue-light);

    &:not(.k-rounded-button--disabled):hover {
      background-image: linear-gradient(90deg, $blue-dark, $blue);
    }
  }

  &.k-rounded-button--uppercase {
    text-transform: uppercase;;
  }

  &.k-rounded-button--loading {
    cursor: wait;

    .k-rounded-button-content {
      opacity: 0;
    }
  }


  &.k-rounded-button--secondary {
    color: $gray-darken-1;
    background: transparent;
    border: 1px solid $gray;
    padding: 11px 45px;

    &:not(.k-rounded-button--disabled):hover {
      background-color: $beige-light;
    }
  }

  &.k-rounded-button--disabled {
    background-image: none;
    background-color: $gray;
    cursor: not-allowed;

    &:hover {
      background-image: none;
      background-color: $gray;
    }
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba($blue, 0.5);
  }

  &.k-rounded-button--grouped {
    padding-right: 70px;
    margin-right: -65px;
  }

  &.k-rounded-button--small {
    font-size: $text-size-regular;
    line-height: $text-size-regular * 1.15;

    padding: 8px 35px;

    &.k-rounded-button--secondary {
      padding-top: 7px;
      padding-bottom: 7px;
    }

    &.k-rounded-button--grouped {
      padding-right: 45px;
      margin-right: -40px;
    }
  }

  .k-spinner {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    transform-origin: center center;
  }
}
</style>
