<template>
  <div class="k-select" :class="classes">
    <label :for="id" v-if="selectName" class="k-label" :class="labelClasses" v-text="selectName"/>
    <v-select
      ref="select"
      v-bind="{...$attrs, ...$props}"
      v-on="$listeners"
      @search:focus="onopen"
      @search:blur="onclose"
      :components="{OpenIndicator, Deselect}"
    >
      <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
        <slot :name="slot" v-bind="scope"/>
      </template>
      <k-spinner
        v-if="loading"
        :diameter="15"
        :stroke-width="2"
        :color="purple ? '#8c68de' : '#4b6af4'"
        slot="spinner"
      />
    </v-select>
    <slot name="helper"/>
    <slot/>
    <!--imitate html form data-->
    <input v-if="!taggable" type="hidden" :name="name" :value="value" readonly>
    <input v-else type="hidden" :name="inputName" v-for="val in value" :key="val" :value="val" readonly>
    <input
      v-if="taggable && !value.length"
      :name="inputName"
      :id="id"
      type="checkbox"
      style="display: none !important;"
      readonly
    >
  </div>
</template>

<script>
import vSelect from 'vue-select'
import KIconDownChevron from './icons/KIconDownChevron'
import KIconClose from './icons/KIconClose'
import KSpinner from './KSpinner'
import generateId from '../core/utils/generateId'

export default {
  components: { vSelect, KSpinner },
  props: {
    id: {type:String, default: () => generateId()},
    selectName: String,
    required: { type: Boolean, default: false },
    purple: { type: Boolean, default: false },
    purpleLabel: { type: Boolean, default: false },
    invalid: { type: Boolean, default: false },
    showLabels: { type: Boolean, default: false },
    name: String,
    value: {},
    options: {
      type: Array,
      default() {
        return []
      },
    },
    searchable: { type: Boolean, default: false },
    loading: { type: Boolean, default: false },
    multiple: { type: Boolean, default: false },
    taggable: { type: Boolean, default: false },
    pushTags: { type: Boolean, default: false },
    filterable: { type: Boolean, default: true },
    placeholder: { type: String, default: '' },
    transition: { type: String, default: 'fade' },
    clearSearchOnSelect: { type: Boolean, default: true },
    closeOnSelect: { type: Boolean, default: true },
    label: { type: String, default: 'label' },
    clearable: { type: Boolean, default: true },
    disabled: { type: Boolean, default: false },
    reduce: { type: Function, default: option => option },
  },
  methods: {
    onopen() {
      this.opened = true
    },
    onclose() {
      this.opened = false
    },
    open() {
      if (this.disabled) {
        return
      }
      this.$refs.select.toggleDropdown({ target: this.$refs.select.$refs.toggle })
    },
  },
  data() {
    return {
      opened: false,
      OpenIndicator: KIconDownChevron,
      Deselect: KIconClose,
    }
  },
  computed: {
    inputName() {
      return this.taggable ? `${this.name}[]` : this.name
    },
    classes() {
      return {
        'k-select--purple': this.purple,
        'k-select--disabled': this.disabled,
        'k-select--invalid': this.invalid,
        'k-select--opened': this.opened,
      }
    },
    labelClasses() {
      return {
        'k-label--purple': this.purpleLabel || this.opened && this.purple,
        'k-label--required': this.required,
        'k-label--disabled': this.disabled,
        'k-label--invalid': this.invalid,
        'k-label--blue': this.opened && !this.purple,
      }
    },
  },
}
</script>


<style lang="scss">
@import '../styles/tokens/colors';
@import '../styles/tokens/font-size';
@import '../styles/tokens/border-radius';
@import '../styles/tokens/box-shadow';
@import '~vue-select/dist/vue-select.css';

.k-select {
  width: 100%;

  margin: 0 0 24px 0;
  color: $gray;

  &:not(.k-select--disabled) {
    .k-label {
      cursor: pointer;
    }
  }

  .k-label {
    line-height: 1.2;
    font-size: $text-size-small;
  }

  &.k-select--opened {
    .vs__dropdown-toggle {
      border-color: $blue;
    }
  }

  &.k-select--purple {
    .vs__dropdown-option--highlight {
      background-color: $purple-light;
    }

    &.k-select--opened {
      .vs__dropdown-toggle {
        border-color: $purple;
      }
    }
  }

  &.k-select--invalid {
    .vs__dropdown-toggle {
      border-color: $red;
    }

    .k-select-error {
      display: block;
    }

    .k-select-helper {
      display: none;
    }
  }

  .vs__search {
    margin: 0 0 1px;
    padding: .35rem 0;

    font-size: $text-size-regular;
    line-height: 1;
    border: 0;
  }
}

.vs__selected-options {
  padding: 0 2px 0 0;

  .vs__selected {
    padding: 3px 3px 3px 7px;
    margin-bottom: 3px;
    margin-top: 1px;
    margin-right: 5px;

    .vs__deselect {
      padding: 4px;
    }
  }
}

.vs__deselect svg {
  width: 10px;
  height: 10px;
  fill: $gray;
}

.vs__clear svg {
  width: 12px;
  height: 12px;
  fill: $gray;
}

.vs__open-indicator {
  width: 15px;
  height: 15px;
  fill: $gray;
}

.v-select:not(.vs--disabled) {
  .vs__selected {
    color: $black;
  }

  .vs__deselect svg,
  .vs__clear svg,
  .vs__open-indicator {
    transition: fill, transform .1s, .2s ease-in;

    &:hover {
      cursor: pointer;
      fill: $black
    }
  }

  .vs__deselect:hover svg {
    fill: $red;
  }

}


.vs--single.vs--open .vs__selected {
  position: static;
  opacity: 1;
}

.vs__search {
  color: $gray;
  border: 0;
}

.vs__dropdown-toggle {
  border-radius: $border-radius-tiny;
}

.vs__dropdown-menu {
  min-width: 100px;
  padding: 0;
  border-color: $gray-lighter-1;
}

.vs__search, .vs__search:focus {
  font-size: $text-size-regular;
  z-index: initial;
}

.vs__dropdown-option--highlight {
  background-color: $blue-light;
}

.vs__dropdown-menu {
  box-shadow: $modal-dialog-shadow;
}

.vs__selected {
  margin: 0;
  padding: 0.35rem 0;
  line-height: 1;

  color: $gray-darken-1;
  background-color: $gray-lighter-1;

}

.vs--single .vs__selected {
  padding: 0.35rem 0;
  margin-bottom: 2px;
  border: 0
}

.vs__dropdown-toggle {
  border-radius: 0;

  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid $gray;

  padding: 0;
}

.k-select-helper {
  font-size: $text-size-small;
  color: $gray;
}

.k-select-error {
  font-size: $text-size-small;
  color: $red;
}
</style>
