<template>
  <div
    :class="classes"
    class="k-skeleton"
    aria-busy="true"
    aria-live="polite"
    role="alert"
    :style="{
      width: computedWidth,
      maxWidth: computedMaxWidth,
      height: computedHeight,
      maxHeight: computedMaxHeight,
    }"
  />
</template>

<script>
export default {
  props: {
    avatar: {
      type: Boolean,
      default: false,
    },
    boilerplate: {
      type: Boolean,
      default: false,
    },
    width: {},
    maxWidth: {},
    height: {},
    maxHeight: {},
  },
  computed: {
    classes() {
      return {
        'k-skeleton--boilerplate': this.boilerplate,
        'k-skeleton--avatar': this.avatar,
      }
    },
    computedWidth() {
      return this.makeMeasurable(this.width)
    },
    computedMaxWidth() {
      return this.makeMeasurable(this.maxWidth)
    },
    computedHeight() {
      return this.makeMeasurable(this.height)
    },
    computedMaxHeight() {
      return this.makeMeasurable(this.maxHeight)
    },
  },
  methods: {
    makeMeasurable(value) {
      if (value || value === 0) {
        return isNaN(value) ? value : `${value}px`
      }

      return null
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/tokens/border-radius';
@import '../styles/tokens/colors';
@import '../styles/tokens/font-size';

.k-skeleton {
  width: 100%;
  height: $text-size-regular;

  background: linear-gradient(90deg, $gray-lighter-1 25%, $gray 37%, $gray-lighter-1 63%);
  background-size: 400% 100%;

  animation: k-skeleton--loading 1.4s ease infinite;

  cursor: progress;

  &.k-skeleton--avatar {
    display: inline-block;

    overflow: hidden;

    width: 40px;
    height: 40px;

    border-radius: $border-radius-round;
  }

  &.k-skeleton--boilerplate {
    background: $gray-lighter-1;
    background-size: initial;

    animation: none;

    cursor: default;
  }
}

.skeleton-color {
  background: linear-gradient(90deg, $gray-lighter-1 25%, $gray 37%, $gray-lighter-1 63%);
  background-size: 400% 100%;
  animation: k-skeleton--loading 1.4s ease infinite;
}

@keyframes k-skeleton--loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
</style>
