<template>
  <svg
    :width="`${diameter}px`"
    :height="`${diameter}px`"
    class="k-spinner"
    xmlns="http://www.w3.org/2000/svg"
    :viewBox="`0 0 ${diameter} ${diameter}`"
    preserveAspectRatio="xMidYMid meet"
  >
    <circle
      cx="50%"
      cy="50%"
      fill="transparent"
      :stroke="color"
      :stroke-width="`${strokeWidth}px`"
      :stroke-dasharray="`${circleCircumference/1.5}px`"
      :r="circleRadius"
    >
      <animateTransform
        attributeName="transform"
        type="rotate"
        calcMode="linear"
        :values="`0 ${radius} ${radius};360 ${radius} ${radius}`"
        keyTimes="0;1"
        dur="0.5s"
        begin="0"
        repeatCount="indefinite"
      ></animateTransform>
    </circle>
  </svg>
</template>

<script>
export default {
  props: {
    color: { type: String, default: '#4b6af4' },
    diameter: { type: Number, default: 90 },
    strokeWidth: { type: Number, default: 8 },
  },
  computed: {
    radius() {
      return this.diameter / 2
    },
    circleRadius() {
      return (this.diameter - this.strokeWidth) / 2
    },
    circleCircumference() {
      return 2 * Math.PI * this.circleRadius
    },
  },
}
</script>

<style lang="scss">
.k-spinner {
  margin: auto;
}
</style>
