<template>
  <div class="k-submitter">
    <div class="k-submitter-submit" :class="mainClasses">
      <slot></slot>
    </div>
    <transition name="zoom">
      <div class="k-submitter-statuses" v-if="this.onStatus">
        <slot name="success" v-if="success">
          <div class="k-submitter-status k-submitter-status--success">
            <k-icon name="check" title="Success" large class="k-submitter-status__icon"></k-icon>
          </div>
        </slot>
        <slot name="loading" v-if="loading">
          <k-spinner :diameter="60" :stroke-width="7"></k-spinner>
        </slot>
        <slot name="error" v-if="error">
          <div class="k-submitter-status k-submitter-status--error">
            <k-icon name="close" title="Error" large class="k-submitter-status__icon"></k-icon>
          </div>
        </slot>
      </div>
    </transition>
  </div>
</template>

<script>
  import KSpinner from './KSpinner'
  import KIcon from './KIcon'

  export default {
    components: { KSpinner, KIcon },
    props: {
      loading: { type: Boolean, default: false },
      error: { type: Boolean, default: false },
      success: { type: Boolean, default: false },
      delay: { type: Number, default: 2000 },
    },
    computed: {
      mainClasses() {
        return {
          'k-submitter-submit--hidden': this.onStatus,
        }
      },
      onStatus() {
        return this.loading || this.error || this.success
      },
    },
  }
</script>

<style lang="scss">
  @import "../styles/tokens/border-radius";
  @import "../styles/tokens/colors";
  @import "../styles/mixins/visually-hidden";

  .k-submitter {
    display: inline-flex;
    position: relative;
  }

  .k-submitter-statuses {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .k-submitter-submit {
    opacity: 1;
    transition: 0.2s;

    &.k-submitter-submit--hidden {

      opacity: 0;
    }
  }

  .k-submitter-status {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    border-radius: $border-radius-round;
    border-width: 3px;
    border-style: solid;

    &.k-submitter-status--success {
      color: $green;
      border-color: $green;
    }

    &.k-submitter-status--error {
      color: $red;
      border-color: $red;
    }
  }
</style>
