<template>
  <div class="k-switch" :class="classes">
    <div class="k-switch-wrapper" @click.stop="toggleCheck" :class="wrapperClasses">
      <input
        type="checkbox"
        :id="id"
        v-bind="attrs"
        class="k-switch-input"
      >
    </div>
    <label
      v-if="label || $slots.default"
      :for="id"
      @click.prevent="toggleCheck"
      class="k-switch-label"
      :class="labelClasses"
    >
      <slot>{{label}}</slot>
    </label>
  </div>
</template>
<script>
import generateId from '../core/utils/generateId'
import KCheckboxMixin from '../core/mixins/KCheckboxMixin'

export default {
  mixins: [KCheckboxMixin],
  props: {
    id: { type: String, default: () => generateId() },
    checked: {
      type: Boolean,
      default: false,
    },
    noMargin: { type: Boolean, default: false },
    purple: { type: Boolean, default: false },
  },
  computed: {
    classes() {
      return { 'k-switch--no-margin': this.noMargin }
    },
    labelClasses() {
      return {
        'k-switch-label--required': this.required,
        'k-switch-label--disabled': this.disabled,
      }
    },
    wrapperClasses() {
      return {
        'k-switch-wrapper--purple': this.purple,
        'k-switch-wrapper--checked': this.isSelected,
        'k-switch-wrapper--disabled': this.disabled,
      }
    },
  },
}
</script>
<style lang="scss">
@import '../styles/tokens/colors';
@import '../styles/mixins/visually-hidden';

.k-switch {
  display: inline-flex;
  align-items: center;

  margin: 16px 16px 16px 0;

  &.k-switch--no-margin {
    margin: 0;
  }
}

.k-switch-wrapper {
  position: relative;

  flex-basis: 44px;

  width: 44px;
  height: 24px;
  min-width: 44px;

  border-radius: 34px;

  background-color: $gray-darken-1;
  transition: all 0.3s ease-in-out;


  &:not(.k-switch-wrapper--disabled) {
    cursor: pointer;
  }

  &.k-switch-wrapper--disabled {
    background-color: $gray;
  }

  &::after {
    content: '';

    position: absolute;
    display: block;

    width: 20px;
    height: 20px;

    top: 2px;
    left: 2px;

    border-radius: 50%;
    background-color: $white;
    transition: all 0.2s ease-in-out;
  }

  &.k-switch-wrapper--checked {
    background-color: $blue;

    &.k-switch-wrapper--purple {
      background-color: $purple;
    }

    &::after {
      transform: translateX(20px);
    }

    &.k-switch-wrapper--disabled {
      background-color: $gray-darken-1;
    }
  }
}

.k-switch-input {
  @include visually-hidden;
}

.k-switch-label {
  padding-left: 10px;

  &.k-switch-label--disabled {
    color: $gray;

    a {
      color: $gray-darken-1;
    }

    &.k-switch-label--required::after {
      color: $gray;
    }
  }

  &:not(.k-switch-label--disabled) {
    cursor: pointer;
  }

  &.k-switch-label--required {
    position: relative;

    &::after {
      content: '*';
      position: absolute;
      color: $red;
      top: -2px;
      right: -8px;
    }
  }
}
</style>
