<script>
import RouterLink from '../core/mixins/RouterLink'

export default {
  props: {
    active: { type: Boolean, default: false },
    minimal: { type: Boolean, default: false },
    purple: { type: Boolean, default: false },
    blue: { type: Boolean, default: false },
    beige: { type: Boolean, default: false },
    href: String,
    type: { type: String, default: 'button', },
    disabled: Boolean,
    size: {
      type: String,
      default: 'medium',
      validator: function (value) {
        return ['medium', 'small'].indexOf(value) !== -1
      },
    },
  },
  mixins: [RouterLink],
  computed: {
    isRouterLink() {
      return this.$router && this.to
    },
    classes() {
      return {
        'k-tab-button--active': this.$props.exactActiveClass || this.active,
        'k-tab-button--disabled': this.disabled,
        'k-tab-button--purple': this.purple,
        'k-tab-button--blue': this.blue,
        'k-tab-button--small': this.size === 'small',
        'k-tab-button--minimal': this.minimal,
        'k-tab-button--beige': this.beige,
      }
    },
  },
  render(createElement) {
    const buttonAttrs = {
      staticClass: 'k-tab-button',
      attrs: {
        ...this.$attrs,
        href: this.href,
        disabled: this.disabled,
        type: !this.href && (this.type || 'button'),
      },
      on: {
        ...this.$listeners,
      },
      class: this.classes,
    }

    let tag = 'button'
    if (this.$props.href) {
      tag = 'a'
    } else if (this.isRouterLink) {
      tag = 'router-link'
      const RouterLink = this.$options.components['RouterLink'] || this.$options.components['router-link']

      this.$options.props = {
        ...this.$options.props,
        ...RouterLink.options.props,
      }
      const exactActiveClass = `${this.$props.exactActiveClass || ''} k-active`
      const activeClass = `${this.$props.activeClass || ''}`
      buttonAttrs.props = {
        ...this.$props,
        exactActiveClass,
        activeClass,
      }

      delete buttonAttrs.attrs.type
      delete buttonAttrs.props.type
      delete buttonAttrs.attrs.href
      delete buttonAttrs.props.href
    }

    return createElement(tag, buttonAttrs, this.$slots.default)
  },
}
</script>

<style lang="scss">
@import "../styles/tokens/colors";
@import "../styles/tokens/font-size";
@import "../styles/tokens/font-weights";
@import "../styles/tokens/border-radius";
@import "../styles/tokens/box-shadow";

.k-tab-button {
  display: inline-flex;
  align-items: center;

  margin: 0;
  padding: 10px 20px;

  color: $gray-darken-1;

  font-weight: $font-weight-bolder;
  font-size: $text-size-regular;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;

  background-color: $white;

  border-radius: $border-radius-small;
  border: 1px solid #e4eaf0;

  &.k-tab-button--purple {
    color: $purple;

    &.k-tab-button--minimal {
      color: $purple;

      &:hover {
        color: $purple;
      }
    }

    &:hover {
      color: $purple-light;
    }

    &.router-link-exact-active,
    &.k-tab-button--active,
    &.k-active {
      color: $purple-dark;

      &.k-tab-button--minimal {
        color: $purple-dark;
      }
    }
  }

  &.k-tab-button--blue {
    color: $blue;

    &.k-tab-button--minimal {
      color: $blue;

      &:hover {
        color: $blue;
      }
    }

    &:hover {
      color: $blue-light;
    }

    &.router-link-exact-active,
    &.k-tab-button--active,
    &.k-active {
      color: $blue-dark;

      &.k-tab-button--minimal {
        color: $blue-dark;
      }
    }
  }

  &.k-tab-button--small {
    border-radius: $border-radius-tiny;
    font-size: $text-size-small;
    padding: 5px 10px;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 1px 5px -1px rgba(42, 175, 243, 0.42);
  }

  &:not(.k-tab-button--disabled),
  &:not([disabled]) {
    cursor: pointer;
  }

  &:hover {
    color: $gray-darken-1;
    background-color: $gray-lighter-1;
    text-decoration: none;
  }

  &.router-link-exact-active,
  &.k-tab-button--active,
  &.k-active {
    color: $black;
    box-shadow: $tab-btn-active-shadow;
  }

  :not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.k-tab-button--disabled,
  &[disabled] {
    color: $gray;
    border-color: $gray-lighter-1;

    &:hover {
      background-color: $white;
    }
  }

  &.k-tab-button--minimal {
    font-weight: $font-weight-normal;
    color: $beige-light;
    border: 0;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid transparent;

    &:hover {
      color: $beige-light;
      text-decoration: underline;
    }

    + .k-tab-button--minimal {
      margin-left: 5px;
      /*padding-left: 20px;*/
    }

    &:focus {
      box-shadow: none;
      text-decoration: underline;
    }

    &.router-link-exact-active,
    &.k-tab-button--active,
    &.k-active {
      color: $beige-dark;
      box-shadow: none;
      text-shadow: -1px 0 currentColor;
    }
  }
}

.k-tabs {
  display: flex;
  justify-content: center;

  .k-tab-button {
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.k-tabs--horizontal {
    .k-tab-button--minimal:first-child {
      padding-left: 0;
    }
  }
}
</style>
