<template>
  <a v-bind="$attrs" class="k-tab-menu-item" :class="classes" v-on="$listeners">
    <slot>{{label}}</slot>
  </a>
</template>

<script>
  export default {
    props: {
      label: String,
      active: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      classes() {
        return {
          'k-tab-menu-item--active': this.active,
          'k-tab-menu-item--disabled': this.disabled,
        }
      },
    },
  }
</script>

<style lang="scss">
  @import '../styles/tokens/colors';
  @import '../styles/tokens/font-size';
  @import '../styles/tokens/font-weights';

  .k-tab-menu-item {
    color: $gray;

    padding: 4px 10px 4px;

    margin: 0 2px;

    font-size: $text-size-regular;

    letter-spacing: normal;

    text-transform: uppercase;
    text-decoration: none;

    border-bottom: 4px solid $white;

    transition: all 0.2s ease-in-out;

    &:not(.k-tab-menu-item--disabled):hover {
      color: $gray-darken-1;
      border-bottom-color: $gray-darken-1;
      background-color: $gray-lighter-1;
      cursor: pointer;
    }

    &.router-link-exact-active,
    &.k-tab-menu-item--active {
      font-weight: $font-weight-bold;
      color: $black;
      border-bottom: 4px solid $blue;

      &:hover {
        color: $black;
        border-bottom: 4px solid $blue;
      }
    }

    &.k-tab-menu-item--disabled {
      color: $gray-lighter-1;
      cursor: default;
    }
  }
</style>
