<template>
  <textarea
    class="k-textarea"
    :id="id"
    :class="classes"
    v-bind="attributes"
    v-model="model"
    v-on="listeners"
    @focus="onFocus"
    @blur="onBlur"
  ></textarea>
</template>

<script>
  import KFieldMixin from './KFieldMixin'
  import generateId from '../core/utils/generateId'

  export default {
    inject: ['KField'],
    mixins: [KFieldMixin],
    props: {
      id: { type: String, default: () => generateId() },
      value: String,
      placeholder: String,
      name: String,
      maxlength: [String, Number],
      readonly: Boolean,
      required: { type: Boolean, default: false },
      disabled: Boolean,
    },
    computed: {
      classes() {
        return this.data
      },
      listeners() {
        const l = { ...this.$listeners }
        delete l.input
        return l
      },
      attributes() {
        return {
          ...this.$attrs,
          type: this.type,
          id: this.id,
          name: this.name,
          disabled: this.disabled,
          required: this.required,
          placeholder: this.placeholder,
          readonly: this.readonly,
          maxlength: this.maxlength,
        }
      },

    },
    methods: {
      setTextarea(textarea = true) {
        this.KField.textarea = textarea
      },
    },
    created() {
      this.setTextarea()
    },
    beforeDestroy() {
      this.setTextarea(false)
    },
  }
</script>

<style lang="scss" scoped>
  @import '../styles/tokens/colors';
  @import '../styles/tokens/border-radius';
  @import '../styles/tokens/font-size';

  .k-textarea {
    min-height: 70px;
    max-height: 200px;

    padding: 15px;
    margin-top: 5px;

    font-size: $text-size-regular;
    color: $gray;

    border: 1px solid $gray-darken-1;
    border-radius: $border-radius-tiny;
    background: none;

    &:required {
      box-shadow: none; // Firefox override
    }

    &:focus {
      color: $black;
      outline: 0;
      border-color: $blue;
    }

    &.k-textarea--disabled,
    &[disabled] {
      background-color: $gray-lighter-1;
      border-color: $gray;
    }
  }
</style>
